@media only screen and (max-width: 1199px) {
	
	.header{
		.elements {		    
		    &__left{
				
			}
			&__center{
				
			}
			&__right{
				float: right;
			}
		}

		&--newsletter {
	    	display: none!important;
	    }

	    &--buttons {
	    	height: 100%;
		    width: 60px;
		}

	    &--brand{
	    	width: auto;
	    	height: 100%;
			padding: 0;
	    	float: left;
			&-lik{
				padding-left: 20px;
		    	&:after {
		    		display: none;
		    	}
			}
	    }
	    &--login {
			border-left: 1px solid #cecece;
			float: left;
			width: 60px;
			height: 100%;
		    &-box {
			    width: 100%;
			    button {
			    	span{
						display: none!important;
					}
					.i-login{
						width: 19px;
					}
					 .i-logout{
					 	width: 100%;
					 	background-position: center;
					 }
				}
			}
		}
	    &--search {
			border-left: 1px solid #cecece;
			float: left;
			width: 60px;
			height: 100%;
		    &-box {
			    width: 100%;
			    button {
			    	span{
						display: none!important;
					}
					.i-search{
						width: 19px;
					}
				}
			}
		}
	}

	.dropmenu--nav-links{
		border: 0;
		padding-top: 50px;
	}
	.dropmenu--nav-links ul{
		margin: 0;
	}
	.dropmenu--nav-links ul li{
		width: 100%;
		padding: 25px 0;
		border: 0;
	}
	.dropmenu--nav-links ul li a{
		font-size: 24px;
	}
	.dropmenu--nav-links ul li.current-menu-item:after{
		top: auto;
		bottom: 8px;
		width: 30%;
		left: 50%;
	}
	#drop-menu.active,
	#drop-search.active {
	    top: 66px;	
	}

	#drop-newsletter{
		display: none;
	}


	.banner--area-loop .content--title{
		font-size: 35px;
	}

	.newsletter{
		padding: 40px 0 30px;
		&--title{
			font-size: 17px;
		}
		.form{
			.inputSubmit {
		    	position: relative;
		    	padding-top: 10px;
		    }
		}
	}

	.featured{
		&--card{
			&-title{
				font-size: 23px;
			}
			&-content {
			    bottom: 30px;
			    padding: 0 30px;
			}
			&-text{
				line-height: 1.5;
			}
		}
	}

	.post{
		&--card{
			&-title {
			    font-size: 19px;
			    line-height: 1.3;
			    margin: 10px 0 20px;
			}
		}
	}

	.search .posts--area {
	    padding: 70px 50px 70px;
	}

	.search .posts .listing .row{
		margin-left: -40px;
		margin-right: -40px;
	}
	.search .posts .listing .col{
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		height: 460px;
	}

	.social {
	    right: -75px;
	}

	.form input[type=date], .form input[type=email], .form input[type=number], .form input[type=tel], .form input[type=text], .form textarea{
		margin-bottom: 20px;
	}
	.form input[type=submit]{
		height: 37px;
		line-height: 37px;
	}

	.single-product {
		.product {
		    padding: 0 45px;
		}
		.owl-controls .owl-buttons>div.owl-prev {
		    left: 25px;
		}
		.owl-controls .owl-buttons>div.owl-next{
			right: 25px;
		}
	}

	.cd-articles {
		article{
			>header{
				margin-bottom: 20px;
				.figure{
					height: 400px;
				}
			}
		}
	}

	.sidebar .cd-read-more .shares-count{
		font-size: 100%;
		width: 95px;
	}
	
	.sidebar .cd-read-more .indicator ul li a::before{
		left: 1em;
	}
	.sidebar .cd-read-more .indicator ul li a svg{
		left: 0.9em;
	}
	
	.sidebar .cd-read-more .indicator>header h3 {
	    font-size: 18px;
	}
	.sidebar .cd-read-more .indicator ul li a em{
		padding: 0;
	}
	.sidebar .cd-read-more .indicator ul li a{
		padding: .5em 1.1em .5em 4.3em
	}
	.sidebar .cd-read-more .newsletter {
	    padding: 20px 20px 5px;
	}
	.sidebar .cd-read-more .newsletter--header .header__title{
		font-size: 18px;
		margin-bottom: 10px;
	}
}
