@media only screen and (max-width: 1290px) {
	.header{
		&--brand {
	    	//width: 110px;
	    	&-lik {
			    //padding: 10px 15px 12px;
			}
	    }
	    &--newsletter{
	    	&-box{
	    		button {
		    		width: 300px;
		    	}
		    }
		}
	}

	.single{
		 .single_article {
		    padding-left: 25px;
		    padding-right: 25px;
		}
	}
}