@media only screen and (max-width: 640px) {
	.header{
		.elements {
		    height: 47px;
		    &__left{
			}
			&__center{
			}
			&__right{
			}
		}

	    &--buttons {
		    width: 52px;
		}

	    &--brand{
			&-lik{
				display: block;
				height: 100%;
				align-items: normal;
				justify-content: normal;
				padding: 12px 20px 10px 30px;
				.is-menu-close{
		    		display: none;
		    	}
		    	.is-menu-open{
		    		display: block;
		    		margin: 0;
		    		width: 92px;
  					height: 24px;
		    	}
			}
	    }
	    &--login {
			width: 50px;
		    &-box {
			    width: 100%;
			    button {
			    	span{
						display: none!important;
					}
					.i-login{
						width: 100%;
						background-position: center;
					}
				}
			}
		}
	    &--search {
			width: 50px;
		    &-box {
			    width: 100%;
			    button {
					figure {
					    width: 100%;
					}
				}
			}
		}
	}

	.dropmenu--nav-links ul li {
		padding: 15px 0;
	}
	.dropmenu--nav-links ul li a{
		font-size: 14px;
	}
	#drop-menu.active,
	#drop-search.active {
	    top: 47px;	
	}

	.banner{
		&--area{
			&-loop {
				.figure {
				    height: 338px;
				}
				.content{
					position: absolute;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    z-index: 3;
				    width: 100%;
					height: 100%;
					padding: 20px;
					@include transform(none);
					&--title {
						top: 20%;
						font-size: 30px;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.17;
						letter-spacing: normal;
						text-align: left;
						&:before{
							width: 20.1px;
  							height: 33px;
						}
					}
					&--paragraph{
					    background-color: transparent;
					    padding: 0;
					    position: absolute;
    					bottom: 0;
					    .arrow-up{
					    	display: none;
					    }
					    &-summary {
						    display: none;
						}
						&-button {
							right: 20px;
						}
					}
				}
				.category{
					padding: 1px 10px;
				}
			}
		}
	}

	.featured{
		&--card{
    		position: relative;
		    height: auto;
		    &-title{
				font-size: 20px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
				text-align: left;
				margin-top: 20px;
			}
			&-content {
			    position: relative;
	    		bottom: 0;
			    padding: 0;
			    .entry-content {
				    background-color: transparent;
		    		padding: 0;
		    		&:before {
		    			display: none;
					}
				}
			}
			&-text{
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 2.29;
				letter-spacing: normal;
				margin-bottom: 10px;
			}
			&-category{
			}
		}
	}

	.posts{
		padding-bottom: 0;
	}

	.newsletter {
	    padding: 25px 20px 25px;
	    &--title{
			margin-bottom: 20px;
	    	padding: 0;
			width: 100%;
			font-size: 20px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
	    }
	    &--form{
	    	width: 100%;
	    	.form{
				// .inputText{
				//     margin-bottom: 30px;
				// 	margin-top: 0;
				// 	padding: 0;
				// 	width: 100%;
				// }
				// .inputSubmit{
				// 	padding: 0;
				// 	padding-top: 40px;
				// 	width: 100%;
				// }
				// .floating-label {
				//     left: 0;
				// }
	    	}
	    }
	}

	.products--area-text{
		font-size: 16px;
	}

	.home{
		.post-left {
		    width: 100%;
		    padding-bottom: 30px;
		    border-bottom: 2px solid rgba(206, 206, 206, 0.5);
		    border-right: 0;
		}
		.post-right {
		    width: 100%;
		    padding-top: 10px;
		    margin-top: 0;
		}

		.post-right .col-2{
		    border-bottom: 2px solid rgba(206, 206, 206, 0.5);			
		}
		.post-right .col-2:last-child{
			border-bottom: 0;
		}

		.products--area {
		    padding: 40px 30px 20px;
		}

		.posts--area.pad {
		    padding: 10px 20px 0;
		}
	}

	.page-sobre .content{
		padding-top: 0;
    	padding-bottom: 0;
	}

	.page--entry h2{
		font-size: 30px;
	}
	.page--entry p{
		font-size: 14px;
		line-height: 2.29;
	}
	.page--entry blockquote{

	}
	.page--entry blockquote p{
		padding-left: 50px;
		font-size: 22px;
		font-weight: normal;
		font-style: italic;
		font-stretch: normal;
		line-height: 1.64;
		letter-spacing: 1px;
	}
	.page--entry ul li{
		padding-left: 20px;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.29;
		letter-spacing: normal;
	}

	.instagram{
		&--area {
	    	padding: 0;
	    	&-title {
	    		&:before{
					//display: none;
				}
	    		.tile{
	    			width: 220px;
					font-size: 30px;
				}
			}
	    	&-loop{
				padding: 20px;
				ul{
					margin-left: -5px;
					margin-right: -5px;

					li {
						padding-left: 5px;
						padding-right: 5px;
						margin-bottom: 10px;
					    &.media-0 {
						    width: 50%;
						    height: 140px;
						}
						&.media-1 {
						    width: 50%;
						    height: 140px;
						}
						&.media-2{
							display: none;
						}
						&.media-3 {
						    width: 100%;
						    height: 220px;
						    margin-bottom: 0px;
						}
						&.media-4 {
						   display: none;
						}
						&.media-5 {
						    display: none;
						}
						&.media-6 {
						    display: none;
						}
					}
				}
			}
	    }
	}


	.post{
		padding-top: 30px;
		padding-bottom: 30px;
		&--card{
			&-title {
			    margin: 20px 0 0;
			}
			&-figure {
	    		height: 240px;
	    	}
	    }
	}
	

	.footer{
		.space {
	    	padding-top: 0;
	    	padding-bottom: 0;
		}
		&--brand {
		    width: 100%;
		    border-right: 0;
		    border-bottom: 1px solid #cecece;
		    height: auto;
		    padding: 25px 0;
		}
		&--pages {
			padding: 20px 20px 0;
    		float: left;
			width: 100%;
		}
		&--categories {	
			padding: 20px 20px 0;
    		float: left;
			width: 100%;
		}
		&--followus {
			padding: 40px 20px;
    		float: left;
			width: 100%;
		}
		&--newsletter{
			padding: 20px;
    		float: left;
			width: 100%;
		}
		.footer--copyright{
			padding: 15px;
		}
	}

	.cd-articles article {
	    margin-bottom: 20px;
	}

	.cd-articles article > header{
		margin-bottom: 30px;
	}


	.cd-articles article>header .figure {
	    height: 280px;
	}
	.cd-articles article>section .body--title{
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.17;
		letter-spacing: normal;
		text-align: left;
		margin: 0 0 20px;
	}
	.cd-articles article>section .body--content h2{
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		margin: 0 0 20px;
	}
	.cd-articles article>section .body--content p {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.29;
		letter-spacing: normal;
		text-align: left;
		margin: 0 0 20px;
	}
	.cd-articles article>section .body--content iframe{
		height: 270px!important;
	}
	.cd-articles article>section .body--content blockquote{

	}
	.cd-articles article>section .body--content blockquote p{
		padding-left: 45px;
		font-size: 22px;
		font-weight: normal;
		font-style: italic;
		font-stretch: normal;
		line-height: 1.64;
		letter-spacing: 1px;
		text-align: left;
	}
	.cd-articles article>section .body--content a {
	    font-size: 14px;
	}
	.cd-articles article>section .body--content table tr td a{
	    font-size: 16px;
	    line-height: 1;
	}

	.sidebar{
		width: 100%!important;
		padding: 0;
	}
	.sidebar .cd-read-more .shares-icons{
		padding: 4px 0 0;
	}
	.sidebar .cd-read-more .shares-icons a{
		padding-left: 15px;
		font-size: 25px;
	}
	.sidebar .cd-read-more .shares-count{
		font-size: 100%;
	}
	.cd-articles article .article--next{
		padding-left: 20px;
		padding-right: 20px;
	}
	.cd-articles article .article--next .article-title{
		padding: 20px;
	}

	.newsletter--form .form .inputText{
		position: relative;
	}

	.posts.big .col-2{
		padding-top: 0;
		&:first-child{
			padding-top: 0;
			border-bottom: 2px solid rgba(206, 206, 206, 0.3);
		}
	}

	.container-small {
	    max-width: 100%;
	}

	.contact .form .inputSubmit {
	    width: 100%;
	    float: left;
	}

	.contact .social{
		display: none;
	}

	.intro--figure {
	    height: 350px;
	}

	.owl-controls {
	    top: 43%;
	}

	.single-product{
		padding-bottom: 40px;
		.product{
		 	padding: 0 45px;
		 	&--figure {
			}
			&--title {
			}
			&--button{
			}
		}
		.owl-controls .owl-buttons>div.owl-prev {
		    left: 25px;
		}
		.owl-controls .owl-buttons>div.owl-next {
		    right: 25px;
		}
	}

	.product {
	    height: auto;
	
		&--figure {
		    height: 280px;
		    padding: 20px;
		}
		&--title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.71;
		}
		&--button{
		}
	}

	.owl-controls .owl-buttons>div.owl-prev {
	    left: -6px;
	}
	.owl-controls .owl-buttons>div.owl-next {
	    right: -6px;
	}

	.entry{
		padding-top: 30px;
    	padding-bottom: 30px;
	}

	.entry--content h2 {
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.17;
		letter-spacing: normal;
		text-align: left;
		&:before{
			width: 17px;
  			height: 28px;
  			top: -25px;
		}
	}

	.entry--content p{
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
	}

	.entry--content blockquote{
		width: 100%;
		padding-left: 15px;
    	padding-right: 0;
    	margin-bottom: 20px;
    	font-size: 20px;
    	word-spacing: 1px;
    	p{
			font-size: 20px;
			line-height: 1.5;
    	}
	}

	.entry--content .column {
	    width: 100%;
	}

	.success .area--posts{
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		.post{
			padding-top: 10px;
		}
	}

	.search .posts--area {
	    padding: 50px 20px;
	}
	.search .posts .listing .row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.search .posts .listing .col{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
		height: auto;
	}

	
	.posts.big .col-2 {
	    width: 100%;
	}

	
	.posts.big .post--card-figure {
	    height: 220px;
	}
	.posts.big .post--card-title {
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
	}
	.post--card-text {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.29;
		letter-spacing: normal;
		text-align: left;
	}

	.full-width,
	.one-half,
	.one-third,
	.two-third,
	.one-fourth,
	.three-fourth,
	.one-fifth,
	.two-fifth,
	.three-fifth,
	.four-fifth,
	.one-sixth,
	.five-sixth {
		width: 100%;
		float: none;
	}
}