@media only screen and (max-width: 768px) {
	.search--area .form-default{
		padding: 30px 20px;
		width: 100%;
	}
	.search--area .form-default input[type=text] {
	    padding: 0 0 10px;
	}
	.search--area .form-default input[type=submit] {
	    left: 0;
	}
}