@media only screen and (max-width: 991px) {
	
	.header{
		.elements {
			&__center{
				display: none;
			}
		}
	}

	.banner--area-loop .content--title{
		font-size: 48px;
	}

    .home{
    	.post-left {
		    width: 45%;
		}
    	.post-right{
		    width: 55%;
    		.col-2{
    			width: 100%;
    		}
    		.last{
    			display: none;
    		}
    	}

    	.products--area {
		    padding: 60px 30px;
		}

		.posts--area.pad {
		    padding: 80px 20px 0;
		}
    }

    .featured{
    	&--card{
    		&-content{
	    	    padding: 0 25px;
	    	    bottom: 25px;
    			.entry-content {
    		   		padding: 20px;
	    	    	.arrow-up{
	    	    		display: none;
	    	    	}
    		   	}
    		}
    		&-text{
    			font-size: 19px;
    			line-height: 1.3;
    		}
    	}
	}

	.post{
		&--card{
			&-title {
			    margin: 10px 0 30px;
			}
		}
	}

	.newsletter{
		&--title {
    		width: 41.66666667%;
    		float: left;
    		font-size: 20px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
    	}
    	&--form{
    		width: 58.33333333%;
    		float: left;
    		.form{
	    		.inputText,
	    		.inputSubmit{
					width: 100%;
				}
				.inputText{
				    margin-bottom: 30px;
					margin-top: 0;
				}
			}
    	}
	}

	.product {
	
		&--figure {
		}
		&--title {
		}
		&--button{
			&.desktop{
				display: none;
			}
			&.mobile{
				display: block;

				position: relative;
			    top: 0;
			    left: 0;
			    max-width: 100%;
			    margin-top: 15px;
			    transform: none;
			}
		}
	}

	.form input[type=submit] {
	    height: 47px;
	    line-height: 47px;
	}

	.instagram{
		&--area {
	   		padding: 40px 20px 24px;
	   		&-loop{
				padding-top: 60px;
				padding-left: 5px;
				padding-right: 5px;
				ul{
					li {
				    	padding-left: 15px;
				    	padding-right: 15px;
				    	margin-bottom: 30px;
				    	&.media-0 {
						    width: 35%;
						    height: 190px;
						}
						&.media-1 {
						    width: 65%;
						    height: 190px;
						}
						&.media-2{
							display: none;
						}	
						&.media-3 {
						    width: 60%;
						    height: 410px;
						    margin-top: 0;
						}
						&.media-4 {
						    width: 40%;
						    height: 190px;
						    margin-top: 0;
						}
						&.media-5 {
						    width: 40%;
						    height: 190px;
						    margin-top: 0;
						}
						&.media-6 {
						    display: none;
						}
				    }
				}
			}
	   	}
	}

	.posts.big .post--card-figure {
	    height: 350px;
	}

	.container-small {
	    max-width: 700px;
	}

	.entry{
		padding-bottom: 60px;
	}

	.success .area--posts {
	    padding-left: 65px;
	    padding-right: 65px;
	    padding-bottom: 30px;
	    .post{
	    	padding-bottom: 30px;
	    }
	}

	.search .posts--area {
	    padding: 50px;
	}
	.search .posts .listing .row{
		margin-left: -30px;
		margin-right: -30px;
	}
	.search .posts .listing .col{
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		height: 460px;
	}

	.cd-articles article{
		margin-bottom: 60px;
	}
	.cd-articles article>header .figure {
	    height: 559px;
	}
	.cd-articles article>section .body{
		width: 100%;
		border: 0;
		padding: 0;
	}

	.sidebar{
		position: relative!important;
		width: 100%!important;
	}
	.sidebar .cd-read-more .shares{
		float: none;
		max-width: 300px;
		margin-bottom: 10px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.sidebar .cd-read-more .shares-icons a {
	    font-size: 25px;
	}

	.sidebar .cd-read-more .indicator{
		display: none;
	}
	.sidebar .cd-read-more .newsletter{
		display: none;
	}
	.sidebar .cd-read-more .button{
		display: none;
	}

	.footer--brand {
		width: 25%;
		height: 610px;
	}
	.footer--pages {
		width: 25%;
	}
	.footer--categories {
		width: 25%;
	}
	.footer--followus {
		width: 25%;
	}
	.footer--followus h3{
	}

	.footer--newsletter {
		width: 50%;
		padding-right: 40px;
		float: right;
	}
	.footer--newsletter-title{
		font-weight: 500;
	}
	.footer--newsletter .space{
		padding: 0;
	}

	.footer--copyright{
		display: block;
	}

}