@media only screen and (max-height: 768px) {
	
	.banner{
		&--area{
			&-loop{
				.figure{
					height: 500px;
				}
				.content{
					&--title{
					}

					&--paragraph{
						&-summary{
							
						}
						&-button{
							
						}
					}
				}
				.category{
					label{
					}
				}
			}
		}
	}

	.featured{
		&--card {
		    height: 555px;
		}
	}

	.post{
		&--card{
			&-figure{
				height: 190px;
			}
		}
	}
}
