@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
    } 
}


@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(8%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}

/// animation: ltr 5s alternate infinite;
@keyframes ltr {
    0% {
        object-position: 0% 0%;
    }
    25% {
        object-position: 20% 0%;
    }
    100% {
        object-position: 100% 100%;
    }
}

/// animation: fade in right element
@-webkit-keyframes fadeInRightSoft {
  0% {
    opacity: 0;
    @include transform(translateX(50%));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@keyframes fadeInRightSoft {
    0% {
        opacity: 0;
        @include transform(translateX(50%));
    }

    100% {
        opacity: 1;
        @include transform(none);
    }
}
.fadeInRightSoft {
    -webkit-animation-name: fadeInRightSoft;
    animation-name: fadeInRightSoft;
}

/// animation: fade in left element
@-webkit-keyframes fadeInLeftSoft {
  0% {
    opacity: 0;
    @include transform(translateX(-50%));
  }

  100% {
    opacity: 1;
    @include transform(none)
  }
}

@keyframes fadeInLeftSoft {
    0% {
        opacity: 0;
        @include transform(translateX(-50%));
    }

    100% {
        opacity: 1;
        @include transform(none);
    }
}
.fadeInLeftSoft {
    -webkit-animation-name: fadeInLeftSoft;
    animation-name: fadeInLeftSoft;
}