$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@for $i from 1 through 8 {
    $width: percentage(1 / $i);

    .col-#{$i} {
        width: $width;
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .pad-#{$side}-#{$space} {
            padding-#{$side}: #{$space}px;
        }
    }
}

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name) {
  @font-face {
      font: {
          family: $font-family;
          style: normal;
          weight: normal;
      }
      src: url($font-url + '/' + $font-name + '.eot');
      src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
           url($font-url + '/' + $font-name + '.woff') format('woff'),
           url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
           url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
    }
}



$i: 1;
$column-width: 60px;

@while $i < 13 {
    .grid-#{$i} { 
        column-width: $column-width; 
    }
    $column-width: $column-width + 90px;
    $i: $i + 1;
}


@mixin transition($transition) {
  	-webkit-transition: $transition;
  	-moz-transition: $transition;
  	-o-transition: $transition;
	  -ms-transition: $transition;  	
  	transition: $transition;
}

@mixin transition-delay($delay) {
  	-webkit-transition-delay: $delay;
  	-moz-transition-delay: $delay;
  	-o-transition-delay: $delay;
	  -ms-transition-delay: $delay;  	
  	transition-delay: $delay;
}

@mixin transform($transform) {
  	-webkit-transform: $transform;
  	-moz-transform: $transform;
  	-o-transform: $transform;
	  -ms-transform: $transform;
  	transform: $transform;
}

@mixin background-size($size) {
  	-webkit-background-size: $size;
  	-moz-background-size: $size;
  	-o-background-size: $size;
	  -ms-background-size: $size;
    background-size: $size;
}

@mixin opacity($opacity) {
    $opacity-ie: ($opacity * 100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
    filter: alpha(opacity=$opacity-ie);
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
}

@mixin box-sizing($sizing){
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin placeholder($color, $size:"") {
    &::-webkit-input-placeholder {
        color: $color;
        @if $size != "" {
          font-size: $size;
        }
    }
    &:-moz-placeholder {
        color: $color;
        @if $size != "" {
          font-size: $size;
        }
    }
    &::-moz-placeholder {
        color: $color;
        @if $size != "" {
          font-size: $size;
        }
    }
    &:-ms-input-placeholder {
        color: $color;
        @if $size != "" {
          font-size: $size;
        }
    }
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}


@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$S:     480px;   
$M:     768px;     
$L:     1100px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}