/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    outline: none;
}

body {
	@include font-smoothing;
}

a:focus,
button:focus,
input[type="submit"]:focus{
	text-decoration: none;
	outline: none;
}

button{
	@include border-radius(0);
}

#preloader{
    background-color: $primary-color;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    z-index: 999999;
    top: 0px;
}

.loadingGIF{
	background-image: url('../images/menuto-loading-01.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100px;
	height: 100px;
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.mask{
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: 99999;
}

.sk-cube-grid {
	width: 40px;
	height: 40px;
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: $tertiary-color;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	      animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }


a:hover{
	text-decoration: none;
}

#site{
	display: none;
}

.border-top{
	border-top: 0.5px solid $quinine-color;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-bottom: 20px solid $primary-color;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid $primary-color;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;

	border-left: 20px solid $primary-color;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 

	border-right:20px solid $primary-color; 
}


#tinymce .column{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	background: #F1F1F1;
}
 
#tinymce .column:nth-of-type(2n+2) {
    margin-left: 4%;
}
 
 
#tinymce .column img{
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
}


audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.owl-controls{
	position: absolute;
    top: 42%;
    width: 100%;
	.owl-buttons{
		> div{
			position: absolute;
			top: 50%;
			@include transform( translateY(-50%) );
			z-index: 9999;
			width: 44px;
  			height: 44px;
  			line-height: 44px;
  			text-align: center;
  			text-indent: -999999px;
  			background-repeat: no-repeat;
  			background-position: center;
  			@include background-size( contain );
			background-image: url('../images/icons/arrow2.svg'); 			
			&.owl-prev{
				left: 0;
			}
			&.owl-next{
				background-image: url('../images/icons/arrow2.2.svg');
				right: 0;
			}			
		}
	}
}

.ie-object-fit-contain {
	position: relative;
	background-size: contain;
	background-position: center center;
	img {
		opacity: 0;
	}
}
.ie-object-fit-cover {
	position: relative;
	background-size: cover;
	background-position: center center;
	img {
		opacity: 0;
	}
}

.is-mobile{
	display: none;
}

/*image wrapping in wordpress posts*/
img {
	border:0
}
img {
	font-size:60%
}

img.alignright {
	float:right; 
	margin:0em 0 1em 1em;
}
img.alignleft {
	float:left; margin: 0em 2em 2em 0; 
}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; margin:0em 0 1em 1em }
.alignleft {float:left;margin:0em 1em 1em 0 }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

.wp-caption .wp-caption-text {
    background: #cecece;
    padding: 0.8075em 0 0 0;
}