$primary-color: #FFFFFF;
$secundary-color: #000000;
$tertiary-color: #ffb02b; 
$quaternary-color: #343434;
$quinine-color: #cecece;

$color-light: #f9f9f9;

$border-color: $quinine-color;

//transitions
$transAll: all 0.2s linear ;


// Cores por nome;
$white: #FFFFFF;
$black: #000000;
$orange: #ffb02b;


$title-h1-color: #000000;
$title-h2-color: #FFFFFF;

$primary-font: 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: Georgia, serif;

$color-1: #717171; // Dove Gray
$color-2: #2a76e8; // Royal Blue
$color-3: #ffffff; // White
$color-4: #141414; // Cod Gray