i.mce-i-editor-product {
    position: relative;
    color: #555d66;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    font: 400 20px/1 FontAwesome!important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 2px 0 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

i.mce-i-editor-product:before {
    content: "\f07a";
}






i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}




#tinymce .column{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    background: #F1F1F1;
}
 
#tinymce .column:nth-of-type(2n+2) {
    margin-left: 4%;
}
 
 
#tinymce .column img{
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
}