/**
 * 1.0 loading views
 * ----------------------------------------------------------------------------
 */
.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  z-index: 9999;
}
.loading.fill {
  background: white;
}
.loading.fill .loading-icon {
  font-size: 25px;
}
.loading-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 15px;
  color: #6bafbd;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "gotham_book";
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.428571429;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 240px;
  width: 220px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.badge {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 3px 5px;
  margin: 0 2px;
  min-width: 20px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.label {
  display: inline-block;
  font-weight: 400;
  color: white;
  padding: 3px 5px;
  margin: 0 2px;
  min-width: 20px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.bg-green {
  background-color: #4CAF50 !important;
  color: #fff;
}

.bg-blue {
  background-color: #6bafbd !important;
  color: #fff;
}

.bg-orange {
  background-color: #ffb02b !important;
  color: #fff;
}

.bg-red {
  background-color: #F44336 !important;
  color: #fff;
}

.list-group {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style-type: none;
  color: #717171;
}
.list-group .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group .list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group .list-group-item .list-group-item > .badge {
  float: right;
}

/**
 * 1.0 dashboard settings
 * ----------------------------------------------------------------------------
 */
.dashboard {
  height: 100%;
  background-color: #F4F5FA;
  direction: ltr;
}

.card {
  float: left;
  width: 100%;
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.card-header {
  float: left;
  width: 100%;
  color: #555;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header h2 {
  width: 100%;
  margin: 0;
  font-family: "gotham_mediumregular";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: #2c303b;
  display: flex;
  align-items: center;
}
.card-header .header-dropdown {
  position: absolute;
  top: 25px;
  right: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card-header .header-dropdown li {
  display: inline-block;
}
.card-header .header-dropdown i {
  font-size: 20px;
  color: #999;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card-controls {
  position: relative;
  float: right;
  color: #555;
  font-family: "gotham_book";
  font-weight: 400;
}
.card-controls a {
  color: #555;
  padding: 3px;
  opacity: 0.4;
}
.card-controls a i {
  font-size: 15px;
}
.card-controls a:hover {
  opacity: 1;
  color: #6bafbd;
}
.card-actions {
  position: relative;
  margin-top: 15px;
}
.card-actions .period {
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "gotham_lightregular";
  font-size: 11px;
  text-transform: uppercase;
  color: #343434;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.card-actions .period:hover, .card-actions .period.active {
  background-color: #6bafbd;
  color: #FFF;
}
.card-actions__item {
  position: absolute;
  right: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.card-actions__item .dropdown {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1.55rem;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.card-actions__item .dropdown:hover {
  color: #fff;
  background-color: #6bafbd;
}
.card-actions__item .dropdown-toggle i {
  font-size: 20px;
  color: #999;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card-actions__item .dropdown-menu {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
  min-width: 10rem;
  padding: 0.8rem 0;
  margin: 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
  text-align: left;
  background-color: #2c303b;
  background-clip: padding-box;
  border: 0 solid transparent;
  border-radius: 2px;
}
.card-actions__item .dropdown-item {
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 0.3rem 1rem;
  clear: both;
  color: rgba(255, 255, 255, 0.85);
  text-align: inherit;
  background: 0 0;
  border: 0;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.card-actions__item .dropdown-item:hover, .card-actions__item .dropdown-item.active {
  color: #6bafbd;
}
.card-image {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 120px;
  border-radius: 4px 4px 0 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-body {
  width: 100%;
  float: left;
  padding: 20px;
  font-size: 14px;
  color: #555;
}
.card-body .box a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "gotham_book";
  font-weight: 400;
  color: #343434;
  margin: 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.card-body .box a:hover {
  color: #6bafbd;
}
.card-body .box-label {
  font-size: 16px;
  width: 100%;
}
.card-body table tbody td {
  font-family: "gotham_book";
  font-size: 11px;
  font-weight: 400;
  color: #343434;
}
.card-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.card-body ul li {
  width: 100%;
  float: left;
  padding: 10px 0;
  overflow: hidden;
  font-family: "gotham_book";
  font-size: 14px;
  font-weight: 400;
  color: #343434;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-body ul li a {
  display: inline-block;
  vertical-align: middle;
  font-family: "gotham_book";
  font-size: 14px;
  font-weight: 400;
  color: #343434;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.card-body ul li a:hover, .card-body ul li a.active {
  color: #6bafbd;
}
.card-body ul li .badge {
  float: right;
}
.card-body ul li + .badge {
  width: 90%;
}

.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -70px;
}
.card-user .author .avatar {
  width: 124px;
  height: 124px;
  border: 5px solid #EEEEEE;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  object-position: center;
}
.card-user .author .title {
  line-height: 24px;
  font-size: 16px;
  margin: 0 0 15px;
}
.card-user .description ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.card-user .description ul li {
  width: 100%;
  float: left;
  padding: 10px 0;
}
.card-user .description ul li .label {
  font-family: "gotham_book";
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  display: block;
}
.card-user .description ul li .label i {
  position: relative;
  font-size: 16px;
  color: #FFF;
}
.card-user .description ul li span {
  font-family: "gotham_lightregular";
  font-size: 14px;
  font-weight: 400;
  color: #2c303b;
  display: block;
}

.card-stats {
  position: relative;
  float: left;
  width: 100%;
  min-height: 50px;
  margin-bottom: 30px;
  padding: 1.5rem 1.5rem 1.45rem;
  background: #6bafbd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.card-stats::after {
  content: "";
  display: block;
  clear: both;
}
.card-stats--header {
  min-width: 0;
}
.card-stats--header h2 {
  font-family: "gotham_book";
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0.1px;
  text-overflow: ellipsis;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card-stats--header small {
  font-family: "gotham_book";
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #fff;
  margin-top: 0.6rem;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-stats--icon {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0.3;
}
.card-stats--icon i {
  color: #FFF;
  font-size: 80px;
}

.card-social {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  float: left;
  width: 100%;
  min-height: 160px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.card-social.facebook i {
  color: #fff;
  background: #3b5998;
}
.card-social.instagram i {
  color: #fff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.card-social.twitter i {
  color: #fff;
  background: #00aced;
}
.card-social i {
  display: block;
  margin: -1px -1px 0;
  font-size: 40px;
  line-height: 110px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.card-social ul {
  display: inline-block;
  margin: 7px 0 0;
  padding: 15px;
  width: 100%;
  list-style: none;
}
.card-social ul li {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  border-top: 1px solid #c2cfd6;
}
.card-social ul li h4 {
  font-family: "gotham_book";
  font-size: 17px;
  font-weight: 400;
  color: #343434;
  margin: 0;
}
.card-social ul li h5 {
  font-family: "gotham_book";
  font-size: 15px;
  font-weight: 400;
  color: #343434;
  margin: 0;
}
.card-social ul li label span {
  font-family: "gotham_book";
  font-size: 14px;
  font-weight: 400;
  color: #949CA0;
}
.card-social ul li label span.count {
  font-size: 15px;
}
.card-social ul li strong {
  text-align: right;
  font-size: 14px;
}
.card-social ul li:first-of-type {
  border-top: 0;
}
.card-featured {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  float: left;
  width: 100%;
  min-height: 160px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.card-featured--header {
  width: 100%;
  height: 130px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00aced;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.card-featured--header h3 {
  font-family: "gotham_book";
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #FFF;
  margin: 10px 0 0;
  display: block;
}
.card-featured--header i {
  text-align: center;
  font-size: 40px;
  color: #FFF;
  display: block;
  margin: -1px -1px 0;
}
.card-featured--body ul {
  display: inline-block;
  margin: 7px 0 0;
  padding: 15px;
  width: 100%;
  list-style: none;
}
.card-featured--body ul li {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
.card-featured--body ul li h4 {
  font-family: "gotham_book";
  font-size: 15px;
  font-weight: 400;
  color: #343434;
  margin: 0;
  display: block;
}
.card-featured--body ul li span {
  font-family: "gotham_book";
  font-size: 25px;
  font-weight: 400;
  color: #949CA0;
  margin: 0;
  display: block;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}

.table tbody tr td,
.table tbody tr th {
  padding: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.popular-post {
  position: relative;
  width: 100%;
  float: left;
  padding-bottom: 0;
}
.popular-post ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.popular-post ul li {
  width: 100%;
  float: left;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popular-post ul li .btn-circle {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 15px;
  text-align: center;
  background-color: #6bafbd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  font-family: "gotham_book";
  font-size: 14px;
  color: #FFF;
}
.popular-post ul li a {
  display: inline-block;
  vertical-align: middle;
  font-family: "gotham_book";
  font-size: 0.9rem;
  font-weight: 400;
  color: #343434;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.popular-post ul li a:hover, .popular-post ul li a.active {
  color: #6bafbd;
}

select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
}
.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}
.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2;
}
.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}
.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
  float: right;
}
.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
  color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
  user-select: none;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

/**
 * 1.0 dashboard dropdown menu
 * ----------------------------------------------------------------------------
 */
.dropdown {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropdown.show .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.dropdown-toggle {
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dropdown-toggle:focus {
  outline: none;
  text-decoration: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  float: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.dropdown-menu li {
  padding: 10px 20px;
  width: 100%;
}
.dropdown-menu li a {
  font-family: "gotham_mediumregular";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #343434;
  min-height: auto;
  padding: 10px 15px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/**
 * 1.0 bootstrap-select
 * ----------------------------------------------------------------------------
 */
*:focus {
  outline: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select {
  position: relative;
  width: 100%;
  height: 34px;
  float: none;
  display: inline-block;
  margin-left: 0;
  box-shadow: none !important;
  border-bottom: 1px solid #ddd !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.bootstrap-select.open .dropdown-menu {
  display: block;
}
.bootstrap-select .btn {
  position: relative;
  float: left;
  width: 100%;
  padding-right: 0;
  z-index: 1;
  background: transparent;
  border: 0;
}
.bootstrap-select .btn::focus {
  outline: none;
}
.bootstrap-select .btn .filter-option {
  font-family: "gotham_mediumregular";
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  white-space: nowrap;
  color: #2c303b;
  width: fit-content !important;
}
.bootstrap-select .btn .bs-caret .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  top: 50%;
  right: 12px;
  bottom: 1px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select ul.dropdown-menu {
  margin-top: 0 !important;
}
.bootstrap-select .popover-title {
  background-color: #eee !important;
  color: #555 !important;
  display: block;
  padding: 3px 20px;
}
.bootstrap-select .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  width: 100%;
  padding-right: 0;
  margin-top: -35px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  transform: none;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}
.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-select .dropdown-menu li {
  position: relative;
  padding: 0;
}
.bootstrap-select .dropdown-menu li a {
  display: block;
  clear: both;
  font-family: "gotham_book";
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  white-space: nowrap;
  color: #2c303b;
  cursor: pointer;
  padding: 7px 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
  margin-right: 34px;
}
.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select .dropdown-menu li.selected a, .bootstrap-select .dropdown-menu li:hover a {
  background-color: #eee !important;
  color: #555 !important;
}
.bootstrap-select .dropdown-menu li.selected span.check-mark, .bootstrap-select .dropdown-menu li:hover span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 9px;
}

/**
 * 1.0 navbar settings
 * ----------------------------------------------------------------------------
 */
.fixed-bottom, .fixed-top {
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media only screen and (max-width: 991px) {
  .fixed-bottom, .fixed-top {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.fixed-top {
  top: 0;
}

.navbar {
  background: #FFF;
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}
@media only screen and (max-width: 991px) {
  .navbar {
    position: relative !important;
  }
}
.navbar-expand-md {
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar-expand-md, .navbar-expand-md .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
}
.navbar-shadow {
  -webkit-box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.1);
}
.navbar-wrapper {
  width: 100%;
}
.navbar-header {
  position: relative;
  padding: 0 0.85rem;
  float: left;
  width: 260px;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  background: #2C303B;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.navbar-brand img {
  width: 150px;
  height: auto;
}
.navbar--title {
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0;
  margin-top: 23px;
}
.navbar--title i {
  background-color: #2C303B;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 17px;
  color: #6bafbd;
  position: relative;
  border-top: 1px solid #34364a;
  border-bottom: 1px solid #2c2d3e;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border-top-color: #506274;
  border-bottom-color: #415160;
}
.navbar--title span {
  position: relative;
  margin-left: 10px;
  font-family: "gotham_mediumregular";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #343434;
}
.navbar-container {
  position: relative;
  float: left;
  padding: 0 20px;
  height: 5rem;
  width: calc(100% - 260px);
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: -webkit-calc(100% - 32px);
  min-height: -moz-calc(100% - 32px);
  min-height: calc(100% - 32px);
}
.navbar-nav {
  margin-top: 19px;
  float: right;
}
.navbar-nav .dropdown {
  float: left;
}
.navbar-nav img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.navbar-nav .user {
  padding-left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.navbar-nav .user h2 {
  margin: 0;
  font-family: "gotham_mediumregular";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #343434;
}
.navbar-nav .user h6 {
  margin: 5px 0 0;
  font-family: "gotham_lightregular";
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #343434;
}
.navbar--clock {
  float: left;
  margin-right: 20px;
  margin-top: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar--clock i {
  font-size: 16px;
  color: #343434;
  margin-right: 10px;
}
.navbar--clock span {
  display: inline-block;
  vertical-align: middle;
  font-family: "gotham_mediumregular";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #343434;
  padding: 0 3px;
}

/**
 * 1.0 Sidebar settings
 * ----------------------------------------------------------------------------
 */
.dashboard--sidebar {
  position: fixed;
  top: 5rem;
  height: -webkit-calc(100% - 5rem);
  height: -moz-calc(100% - 5rem);
  height: calc(100% - 5rem);
  width: 260px;
  color: #DCDCDC;
  background: #2C303B;
  z-index: 1000;
  display: table-cell;
  -webkit-box-shadow: 1px 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 30px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
@media only screen and (max-width: 991px) {
  .dashboard--sidebar {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation--item {
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.navigation--item.active, .navigation--item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navigation--item.active a i, .navigation--item:hover a i {
  color: #ffb02b;
}
.navigation--link {
  position: relative;
  font-family: "gotham_book";
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #FFF;
  display: block;
  padding: 0.85rem 1rem;
  border-radius: 2px;
}
.navigation--link i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  color: #6bafbd;
}

.dashboard-main {
  position: relative;
  width: calc(100% - 260px);
  margin-left: 260px;
  padding: 120px 40px 60px;
}
@media only screen and (max-width: 991px) {
  .dashboard-main {
    width: 100%;
    margin-left: 0px;
    padding: 40px;
  }
}

/*# sourceMappingURL=dashboard.css.map */
