.category{
	
	&--title{
		position: relative;
		width: 100%;
		text-align: center;
		margin: 45px 0;
		h1{
			position: relative;
			z-index: 2;
			
			font-family: 'gotham_mediumregular';
			font-size: 30px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.17;
			letter-spacing: normal;
			text-align: center;
			text-transform: uppercase;
			
			color: $quaternary-color;	
			background-color: $primary-color;
			padding: 10px 20px;
			margin: 0 auto;
			width: auto;
			display: inline-block;
		}
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: 50%;
			background-color: $border-color;
			width: 100%;
			height: 1px;
		}
	}

	.bannerCat{
		float: left;
		width: 100%;
		padding: 20px;
		background-color: $white;
		border-bottom: 0.5px solid $border-color;
		&--area{
			&-loop{
				position: relative;
				width: 100%;
				.mask{
					position: absolute;
					z-index: 2;
					top: 0; left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.21);
				}
				.figure{
					position: relative;
					z-index: 1;
					height: 559px;
					width: 100%;
					overflow: hidden;
					&-img{
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: 50% 50%; /* default value: image is centered */
					}
				}
				.content{
					position: absolute;
					z-index: 4;
					background-color: $white;
					padding: 40px;
					width: 381px;
					max-width: 100%;
					right: 40px; bottom: 40px;
					&:before {
					    top: -10px;
					    left: 40px;
					}
					.arrow-up{
						position: absolute;
						top: -19px;
						left: 50%;
						@include transform(translateX(-50%));
					}
					&--title{
						position: relative;
						font-family: 'gotham_mediumregular';
					    font-size: 30px;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.17;
						letter-spacing: normal;
						text-align: left;
					    color:  #343434;
					    margin: 0 0 25px;
						&:before{
							content: '';
							position: absolute;
							top: -67px; left: 0;
							z-index: 3;
							background-image: url('../images/simbolo.svg');	
							background-repeat: no-repeat;
							width: 28px;
							height: 46px;				
						}
					}
					&--paragraph{
						padding: 0;
						background-color: transparent;
						&-summary{
							font-family: 'gotham_book';
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 2;
							letter-spacing: normal;
							text-align: left;
							color: $quaternary-color; 
						}
					}
				}
			}
		}
	}

	.posts{
		&--area{
			padding: 100px;
			&.pad{
    			padding: 20px 20px 70px;
    		}
		}
		.listing{
			.row{
				margin-left: -62.5px;
				margin-right: -62.5px;
			}
			.col {
			    padding-left: 62.5px;
			    padding-right: 62.5px;
			    padding-bottom: 40px;
			}			
		}
	}

	.newsletter{
		padding-bottom: 20px;
	}

}


@media only screen and (max-height: 768px) {
	.category{
		&--title{
			margin: 35px 0 34px;
			h1 {
			    font-size: 42px;
			}
		}
		.bannerCat{
			&--area{
				&-loop{
					.figure{
    					height: 400px;
					}
					.content{
						padding: 30px;
						&--title{
    						font-size: 30px;
    						&:before{
    							top: -39px;
    						}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1366px) {
	
}
@media only screen and (max-width: 1119px) {
	.category {
		.posts{
			&--area {
	    		padding: 70px;
	    	}
	    }
	}
}

@media only screen and (max-width: 991px) {
	.category{
		&--title{
		 	margin: 40px 0;			
			h1 {
			    
			}
		}
		.bannerCat{
			&--area{
				&-loop{
					.figure{
    					height: 480px;
					}
					.content{
						&--title{
    						&:before{
    						}
						}
					}
				}
			}
		}
		.posts{
			&--area {
	    		padding: 50px 30px;
	    		.listing{
	    			.row {
				    	margin-left: -30px;
				    	margin-right: -30px;
				    } 
				    .col {
					    width: 50%;
					    height: 420px;
						padding-left: 30px;
						padding-right: 30px;
						padding-bottom: 30px;
					}
				}
	    	}
		}
	}
}
@media only screen and (max-width: 640px) {
	.category{
		&--title{
			margin: 20px 0 0;
			h1{
				font-size: 30px;
			}
		}
		.bannerCat{
			&--area{
				&-loop{
					.figure{
    					height: 280px;
					}
					.content{
						position: absolute;
					    padding: 15px;
					    width: 90%;
					    right: 15px;
    					bottom: 15px;
					    &:before {
						    left: 10px;
						}
						.arrow-up{
							top: -10px;
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-bottom: 10px solid #fff;
						}
						&--title{
							font-size: 18px;
    						line-height: 1.3;
						    margin: 0;
						    padding: 0;
    						&:before{
    							top: -22px;
    							width: 13px;
							    height: 20px;
							    background-size: contain;
    						}
						}
						&--paragraph{
							display: none;
						}
					}
				}
			}
		}
		.posts{
			.listing {
				.row {
			    	margin-left: -15px;
			    	margin-right: -15px;
			    }
			    .col {
				    width: 100%;
				    height: auto;
					padding-left: 15px;
					padding-right: 15px;
					padding-bottom: 30px;
				}
			}
			&--area{
				padding: 40px 20px;
				&.pad {
				    padding: 20px 20px 40px;
				}
				&-loop {
					.col-2{
						width: 100%;
						border-bottom: 2px solid rgba(206, 206, 206, 0.5);
						padding: 0 20px 20px;
						&:last-child{
							border-bottom: 0;
							padding: 20px 20px 0;
						}
					}
				}
			}
		}
	}
}