/**
 * 1.0 Basic Footer
 * ----------------------------------------------------------------------------
 */

.footer{
	.inner{
		background-color: $secundary-color;
		width: 100%;
		float: left;
	}

	.space{
		padding-top: 80px;
    	padding-bottom: 60px;
	}

	&--brand{
		text-align: center;
		float: left;
		border-right: 1px solid $quinine-color;
		height: 422px;
		img{
			width: 100%;
			max-width: 130px;
			height: auto;
			margin: 0 auto;
		}
	}

	&--pages{
		float: left;
		padding-left: 30px;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				display: block;
				padding-top: 20px;
				&:first-of-type{
					padding-top: 0;
				}
				a{
					font-family: 'gotham_mediumregular';
					font-size: 14px;
					text-align: left;
					color: $primary-color;
					text-transform: uppercase;
				}
			}
		}
	}

	&--categories{
		float: left;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;			
			li{
				display: block;
				padding-top: 20px;
				&:first-of-type{
					padding-top: 0;
				}
				a{
					font-family: 'gotham_mediumregular';
					font-size: 14px;
					text-align: left;
					color: $primary-color;
					text-transform: uppercase;
				}
			}
		}
	}

	&--followus{
		float: left;
		h3{
			font-family: 'gotham_mediumregular';
			font-size: 14px;
			text-align: left;
			color: $primary-color;
			text-transform: uppercase;
			margin-top: 0;	
			font-weight: normal;
		}
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;			
			li{
				display: inline-block;
				padding-left: 25px;
				&:first-of-type{
					padding-left: 0;
				}
				a{
					font-family: 'gotham_mediumregular';
					font-size: 20px;
					text-align: left;
					color: $primary-color;
					text-transform: uppercase;
				}
			}
		}
	}

	&--newsletter{
		float: left;
		
		&-title{
			font-family: 'gotham_mediumregular';
			font-size: 20px;
			font-weight: 500;
			line-height: 1.5;
			color: $white;
			margin-top: 0;	
			font-weight: normal;
		}

		&-form{
			input[type="text"],
			input[type="email"]{
				margin-bottom: 30px;
				outline: none;
				border: 0;
				background-color: transparent;
				border-bottom: 1px solid $white;
				width: 100%;
				padding: 15px 0 5px;
				font-family: 'gotham_mediumregular';
				font-size: 12px;
				line-height: 1;
				letter-spacing: 0.1px;
				text-align: left;
				color: $white;
			}

			input[type="submit"]{
				outline: none;
				background-color: $white;
				border: 1px solid $white;
				padding: 0 20px;
				font-family: 'gotham_mediumregular';
				font-size: 14px;
				text-align: center;
				color: $black;
				text-transform: uppercase;
				width: 100%; 
				height: 47px;
				line-height: 47px;
				float: right;
				@include transition(all 0.5s linear);
				&:hover{
					background-color: transparent;
					color: $white;
				}
			}

			.inputText{
				position: relative;
			}

			.floating-label{
				font-family: 'gotham_lightregular';
				font-size: 12px;
				color: $white;
				text-align: left;
				line-height: 1;
				letter-spacing: 0.1px;
				position: absolute;
				pointer-events: none;
				left: 0;
				top: 10px;
				opacity: 1;
				@include transition(0.2s ease all);
			}

			.inputText.focused .floating-label {
			    top: 0;
				font-size: 10px;
				opacity: 0.5;
			}
		}

		.footer--newsletter-button{
			display: none;
			outline: none;
			background-color: $white;
			border: 1px solid $white;
			padding: 0 20px;
			font-family: 'gotham_lightregular';
			font-size: 14px;
			text-align: center;
			color: $black;
			text-transform: uppercase;
			width: 100%; 
			height: 47px;
			line-height: 47px;
			float: right;
			@include transition(all 0.5s linear);
			&:hover{
				background-color: transparent;
				color: $white;
			}
		}
	}

	&--copyright{
		//display: none;
		background-color: $white;
		width: 100%;
		padding: 20px;
		float: left;
		text-align: center;
		p{
			font-family: 'gotham_lightregular';
			font-size: 10px;
			letter-spacing: 0.1px;
			text-align: center;
			color: $black;
			margin: 0;
		}
	}

}