/**
 * 1.0 Basic Header
 * ----------------------------------------------------------------------------
 */

.header{
	position: relative;
	width: 100%;
	background-color: $white;
	@include transition($transAll);

	&.sticky{
		position: fixed;
		top: 0; left: 0;
		z-index: 99999999;
	}

	.elements{
		position: relative;
		z-index: 999991;
		width: 100%;
		height: 66px;
		border-bottom: 1px solid $quinine-color;

		display: flex;
		flex-direction: row;            /* default value; can be omitted */
  		flex-wrap: nowrap;              /* default value; can be omitted */
  		justify-content: space-between;
  		&__left{
			height: 100%;				
		}
		&__center{
			height: 100%;			
		}
		&__right{
			height: 100%;
		}
	}

	&--buttons{
		width: 56px;
		height: 66px;
		float: left;
		padding: 0;
		text-align: center;
		border-right: 1px solid $quinine-color;
		&-bt{
    		border: none;
    		padding: 0px;
    		outline: none;
    		background: none;
    		float: left;
    		width: 100%;
    		height: 100%;
    		text-align: center;
			@include transition($transAll);
			.i-hamburguer{
				background-image: url('../images/icons/hamburguer.svg');
				background-repeat: no-repeat;
				width: 12px;
				height: 10px;
				display: inline-block;
    			outline: none;
				@include background-size(contain);
				@include transition($transAll);
			}
			.i-close{
				background-image: url('../images/group-12.svg');
				background-repeat: no-repeat;
				width: 16px;
				height: 16px;
				display: inline-block;
    			outline: none;
				@include background-size(contain);
				@include transition($transAll);
			}
		}
	}

	&--brand{
		width: auto;
		height: 66px;
		float: left;
		padding: 0 25px;
		@include transition($transAll);
		
    	&-lik{
    		position: relative;
    		height: 100%;
    		display: flex;
			align-items: center;
			justify-content: center;
    		@include transition($transAll);
	    	img{
	    		margin: 0 auto;
    			max-width: 100%;
				object-fit: contain;
				object-position: center;
	    	}
	    	.is-menu-close{
	    		display: block;
	    		width: 114px;
				height: 19px;
	    	}
	    	.is-menu-open{
	    		display: none;
	    		width: 138px;
  				height: 36px;
	    	}
	    	&:after{
				content: '';
				position: absolute;
				bottom: -1px; 
				left: 50%;
				background-color: $tertiary-color;
				height: 3px;
				width: 100%;
				@include transform(translateX(-50%));
			}
    	}

	    &.active{
	    	padding: 15px 30px;
	    	a{				
		    	&:after{
		    		display: none;
		    	}
	    	}
	    }
	}

	&--categoies{
		float: left;
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			li{
				display: inline-block;
				vertical-align: middle;
				padding: 21px 28px 21px;
				margin: 0!important;
				&:before{
					content: '';
					background-image: url('../images/oval.svg');
					background-repeat: no-repeat;
					background-position: center center;
					@include background-size(contain);
					width: 6px;
					height: 6px;
					position: relative;
					float: left;
					top: 10px;
					left: -30px;
				}
				&:first-child{
					&:before{
						display: none;
					}
				}
				a{
  					position: relative;
					font-family: 'gotham_mediumregular';
					font-size: 14px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: left;
  					text-transform: uppercase;
  					color: $quaternary-color;

				}
			}
		}
		.hover-slider {
			position: absolute;
			height: 100%;
			z-index: 0;
			pointer-events: none;
			&:before {
				content: '';
				display: block;
				height: 3px;
				position: absolute;
				left: 10px;
				right: 10px;
				background-color: $tertiary-color;
				bottom: 0;
			}
		}

	}

	&--newsletter{
		float: left;
		padding: 8px 0;
		&-box{
			background-color: $secundary-color;
			width: 295px;
			max-width: 100%;
			height: 48px;
			line-height: 48px;
			@include transition($transAll);
			text-align: center;
			&.active{					
				width: 50px;
			}
			p{
				font-family: 'gotham_lightregular';
				font-size: 14px;
				color: $primary-color;
				text-transform: uppercase;
				margin: 0;
				text-align: left;
				padding-left: 20px;
				padding-right: 20px;
				a{
					float: right;
					color: $orange;
					outline: none;
				}
			}
			button{
				font-family: 'gotham_lightregular';
				font-size: 14px;
				color: $primary-color;
				text-transform: uppercase;
				background: transparent;
				border: 0;
				outline: none;
			}
			i{
				display: none;
				color: $white;
				font-size: 18px;
				text-align: center;
			}
		}
	}

	&--login{
		width: 140px;
		height: 66px;
		float: left;
		&.border{
			border-left: 0.5px solid $quinine-color;			
		}
		&-box{
			width: 100%;
			height: 100%;
			float: left;
			button{
				height: 100%;
				width: 100%;
				text-align: center;
				position: relative;
				background: transparent;
				border: 0;
				outline: none;
				@include transition($transAll);

				span{
					display: inline-block;
					font-family: 'gotham_mediumregular';
					font-size: 11px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.09;
					letter-spacing: 0.1px;
					text-align: left;
					text-transform: uppercase;
					color: $quaternary-color;
				}

				figure{
					display: inline-block;
					vertical-align: middle;
					width: 40px;
					@media only screen and (max-width: 640px) {
		                width: 100%;
		                text-align: center;
		            }
					i{
						display: inline-block;
						vertical-align: middle;
						@include background-size(contain);
						@include transition($transAll);
						background-repeat: no-repeat;
						background-position: right center;					

					}
				}
				.i-login{
					background-image: url('../images/profile.svg');
					width: 38px;
					height: 18px;
				}
				.i-logout{
					background-image: url('../images/icons/icon-logout.svg');
					width: 38px;
					height: 18px;
				}

				&:after {
				    content: '';
				    position: absolute;
				    bottom: -1px;
				    left: 50%;
				    background-color: #ffb02b;
				    height: 3px;
				    width: 0;
					@include transition('width .3s ease-in-out');
				    -webkit-transform: translateX(-50%);
				    -moz-transform: translateX(-50%);
				    -o-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				    transform: translateX(-50%);					
				}

				&.is-open{
					&:after {
				    	width: 100%;
					}
					.i-logout{
						background-image: url('../images/group-12.svg');					
	    				width: 38px;
						height: 18px;
						@media only screen and (max-width: 640px) {
			                width: 100%;
			                background-position: center;
			            }
					}
				}

				&:focus{
					outline: none;
					text-decoration: none;
				}
			}
		}
	}

	&--search{
		width: 140px;
		height: 66px;
		float: left;
		border-left: 0.5px solid $quinine-color;
		&-box{
			width: 100%;
			height: 100%;
			float: left;

			button{
				height: 100%;
				width: 100%;
				text-align: center;
				position: relative;
				background: transparent;
				border: 0;
				outline: none;
				@include transition($transAll);

				span{
					font-family: 'gotham_mediumregular';
					font-size: 11px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.09;
					letter-spacing: 0.1px;
					text-align: left;
					text-transform: uppercase;
					color: $quaternary-color;
				}

				figure{
					display: inline-block;
					vertical-align: middle;
					width: 40px;
					@media only screen and (max-width: 640px) {
		                width: 100%;
		                text-align: center;
		            }
					i{
						display: inline-block;
						vertical-align: middle;
						@include background-size(contain);
						@include transition($transAll);
						background-repeat: no-repeat;
						background-position: right center;					

					}
				}
				.i-search{
					background-image: url('../images/icons/search.svg');
					width: 38px;
					height: 18px;
					@media only screen and (max-width: 640px) {
		                width: 100%;
		                background-position: center;
		            }
				}
				.i-close{
					background-image: url('../images/group-12.svg');					
    				width: 16px;
					height: 16px;
					@media only screen and (max-width: 640px) {
		                width: 100%;
		                background-position: center;
		            }
				}
				&:after{
					content: '';
					position: absolute;
					bottom: -1px; left: 0;
					background-color: $tertiary-color;
					height: 3px;
					width: 0;
					z-index: 999999;	
					@include transition($transAll);				
				}
				&.active{
			    	&:after{
						width: 100%;
			    	}
			    }
			}
		}
	}

}

#drop-menu{
	width: 100%;
	float: left;
	position: absolute;
	top: -1050px; 
	left: 0;
	z-index: -1;
	opacity: 0;
	background: $primary-color;
	@include transition( all 450ms ease-in-out );

	&.active{
		opacity: 1;
		top: 66px;
		z-index: 9999999;
	}
}

#drop-newsletter{
	width: 100%;
	float: left;
	position: absolute;
	top: -1050px; 
	left: 0;
	z-index: -1;
	opacity: 0;
	background: $primary-color;
	@include transition( all 450ms ease-in-out );

	&.active{
		opacity: 1;
		top: 66px;
		z-index: 9999999;
	}

	.newsletter{
		&--form{			
			.form{
				input[type="text"],
				input[type="email"]{
					color: $white;
				}
			}
		}
	}
}

#drop-search{
	width: 100%;
	float: left;
	position: absolute;
	top: -1050px; 
	left: 0;
	z-index: -1;
	opacity: 0;
	background: $primary-color;
	@include transition( all 450ms ease-in-out );

	&.active{
		opacity: 1;
		top: 66px;
		z-index: 9999999;
	}
}

@media only screen and (max-width: 768px) {
	#drop-menu, #drop-newsletter, #drop-search{
		display: none;
		&.active{
			display: block;
		}
	}
}

.dropmenu{
	&--nav{
		&-links{
			border-bottom: 0.5px solid $quinine-color;
			ul{
				padding: 0;
				margin-top: 0;
				margin-bottom: 0;
				list-style-type: none;
				li{
					position: relative;
					text-align: center;
					padding: 15px 0;
					@extend .col;
					@extend .col-5;
					&:before{
						content: '';
						background-image: url('../images/oval.svg');
						background-repeat: no-repeat;
						background-position: center center;
						@include background-size(contain);
						width: 6px;
						height: 6px;
						position: relative;
						float: left;
						top: 10px;
						left: -30px;
					}
					&.current-menu-item{
				    	&:after{
							content: '';
							position: absolute;
							top: 100%; left: 50%;
							background-color: $tertiary-color;
							height: 3px;
							width: 93px;
							@include transform(translateX(-50%));
						}
				    }
					&:first-child{
						&:before{
							display: none;
						}
					}
					a{
						font-family: 'gotham_mediumregular';
						font-size: 14px;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: left;
	  					text-transform: uppercase;
	  					color: $quaternary-color;
					}
				}
			}
			.hover-slider {
				position: absolute;
				height: 100%;
				z-index: 0;
				pointer-events: none;
				&:before {
					content: '';
					display: block;
					height: 2px;
					position: absolute;
					left: 10px;
					right: 10px;
					background-color: $tertiary-color;
					bottom: 0;
				}
			}
		}
	}
	&--news{
		width: 100%;
		float: left;
		.newsletter{			
			background-color: $color-light;

			&--title{
				color: #343434;
			}

			&--form{		
				@extend .col-md-9;

				.form{
					@extend .row;

					.inputText{
						margin-top: 13px;
					}

					.inputSubmit{
					}

					input[type="text"],
					input[type="email"] {
						background-color: transparent;
						border-bottom: 1px solid $black;
						color: $black;
					}

					.floating-label {
						color: $black;
					}

					input[type="submit"]{
						border: 1px solid $black;
						background-color: $black;
						color: $white;
						&:hover{
							background-color: transparent;
							border: 1px solid $black;
							color: $black;
						}
					}
				}
			}
		}
		
	}
}

.search{
	width: 100%;
	float: left;
	position: relative;
	&--area{
		padding: 30px 0;	
		width: 100%;
		float: left;
		border-bottom: 0.5px solid $quinine-color;
		.form-default{
			width: 559px;
			margin-left: auto;
			margin-right: auto;
			.inputText {
				float: left;
			    position: relative;
			    width: 100%;
			    text-align: center;
			}
			input[type="text"]{
				background: transparent;
				border: 0;
				outline: none;
				border-bottom: 1px solid $secundary-color;
				width: 100%;
				text-align: center;
				color: $quaternary-color;
				line-height: 1;
  				letter-spacing: 0.1px;
  				padding: 0 50px 10px;
  				margin-bottom: 0;
			}
			input[type="submit"]{
				background-color: transparent;
				background-image: url('../images/icons/search.svg');
				background-repeat: no-repeat;
				width: 22px;
			    height: 22px;
			    position: absolute;
    			left: 20px; top: 0;
			    padding: 0;
			    text-indent: -999999px;
			    border: 0;
			    outline: none;
			}

			.floating-label {
				font-family: 'gotham_lightregular';
				font-size: 12px;
				color: $black;
				text-align: left;
				line-height: 1;
				letter-spacing: 0.1px;
				position: absolute;
  				left: 50%; top: 10px;
				pointer-events: none;
				opacity: 1;
				@include transform( translateX(-50%) );
				@include transition(0.2s ease all);  				
			}

			input:focus ~ .floating-label{
				top: -10px;
				font-size: 10px;
				opacity: 0.5;
			}

		}
	}
}


.searchwp-live-search-results{
	z-index: 99999999!important;
	box-shadow: none;
    border-radius: 0;

	.searchwp-live-search-result{
		p{
			font-family: 'gotham_lightregular';
			font-size: 12px;
			text-transform: uppercase;
			a{
				color: $quaternary-color;				
			}
		}
	}

}

.menubox{
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	opacity: 0;
	width: 280px;
	//height: 160px;

	padding: 40px 30px;
	background-color: #FFFFFF;

	@include transition( all 450ms ease-in-out );

	&.is-open{
		opacity: 1;
		top: 66px;
		z-index: 9999999;
	}

	a{
		width: 100%;
		float: left;
		font-family: 'gotham_mediumregular';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #343434;
		text-transform: uppercase;
		padding: 15px 0;

		&:last-of-type{
			//padding-top: 50px;
		}
	}
}