body.login {
    -webkit-font-smoothing: antialiased!important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body.login a{
}

body.login h1 a {
    background-image: url('../images/logo-admin.png') !important;
    -webkit-background-size: contain!important;
    background-size: contain!important;
    width: 300px!important;
    height: 100px;
}

body.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 0 46px;
    background: transparent;
    box-shadow: none;
}

body.login label {
    width: 100%;
    font-size: 15px;
}

body.login input[type="text"]{
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    text-transform: none;
}

body.login input[type="password"]{
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    text-transform: none;
}

body.login .button-primary {
    width: 150px;
    float: right;
    background-image: none;
    border-radius: 0;
    text-shadow: none!important;
    box-shadow: none!important;
    &:active, 
    &:hover{
        background-image: none;
        border-radius: 0px;
        text-shadow: none!important;
        outline: none;
        box-shadow: none!important;        
    }
}


.login{
    float: left;
    width: 100%;
    padding: 60px 20px;
    .logincontainer{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }    
    .form{
        position: relative;
        .inputText{
            position: relative;
            input[type="text"],
            input[type="email"],
            input[type="password"]{
                border-bottom: 1px solid $black;
                text-align: left;
                color: $black;
                @include placeholder($black, 12px);
            }

            .floating-label {
                color: $black;
                @include transition(0.2s ease all);
            }

            input:focus ~ .floating-label{
                top: 0;
                font-size: 10px;
                opacity: 0.5;
            }
        }
        .inputSubmit{
            float: right;
            position: relative;
            input[type="submit"]{
                border: 1px solid $black;
                color: $black;
                @include transition(all 0.5s linear);
                &:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        }

        .lost{
            width: 100%;
            float: left;
            text-align: right;
            padding-top: 20px;
            font-family: 'arapeyregular';
            font-size: 17px;
            line-height: 1.1;
            color: $orange;
        }
    }
}

#carregando{
    display: none;
    .status  {

    }
    img{

    }
}

.quizcontainer{
    width: 100%;
    max-width: 991px;
    margin: 0 auto;
} 
.formquiz{
    form{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0 -10px;

            li{
                display: inline-block;
                padding: 10px;
            }
        }
        fieldset {
            border: 1px solid silver;
            margin: 20px 0;
            padding: 20px 30px;
        }
        legend {
            border: 0;
            padding: 10px;
            white-space: normal;
            font-family: 'gotham_mediumregular';
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            text-align: left;
        }
        label{
            display: inline-block;
            vertical-align: middle;
            color: #939598;
            font-weight: 100;
            font-size: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-left: 5px;
        }
        input[type=checkbox],
        input[type=radio]{
            position: relative;
            display: inline-block;
            vertical-align: middle;                         
            width: 25px;
            height: 25px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:before {
                width: 25px;
                height: 25px;
                top: 0;
                left: 0;
                position: relative;
                background-color: transparent;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 1px solid $black;
            }
            &:after {
                content: '';
                width: 17px;
                height: 17px;
                position: absolute;
                background-color: transparent;
                outline: none;
            }
            &:checked:after {
                content: '';
                top: 55.5%;
                left: 52.5%;
                @include transform(translate(-50%, -50%));
                background-color: $orange;
                display: inline-block;
                visibility: visible;
                color: $orange;
                outline: none;
            }

        }
        input[type=checkbox]{
            &:before {
                border-radius: 0;
            }
            &:after {
                border-radius: 0;
            }
        }
        input[type=radio]{
            &:before {
                border-radius: 50%;
            }
            &:after {
                border-radius: 40px;
            }
        }

        textarea{
            height: 100px;
            width: 100%;
            padding: 20px;
        }
        input[type="submit"]{
            outline: none;
            background-color: transparent;
            border: 1px solid $black;
            border-radius: 0;
            padding: 0;
            font-family: 'gotham_lightregular';
            font-size: 14px;
            text-align: center;
            color: black;
            text-transform: uppercase;
            width: 20%; 
            height: 47px;
            line-height: 47px;
            float: right;
            @include transition(all 0.5s linear);
            &:hover{
                background-color: $black;
                color: $white;
            }
        }
        #carregando {
            display: none;
            width: 78%;
            float: left;
            height: 47px;
            line-height: 47px;
            padding: 0 20px;
            border: 1px solid $black;
            .status{
                font-family: 'gotham_lightregular';
                font-size: 16px;                
            }
        }
    }
}