/**
 * 1.0 Basic Pages
 * ----------------------------------------------------------------------------
 */

 .page__title{
 	position: relative;
	font-family: 'gotham_mediumregular';
	font-size: 48px;
	font-weight: 500;
	line-height: 1.1;
	color: $secundary-color;
	&:before{
		content: '';
		position: absolute;
		top: -35px; left: 0;
		z-index: 3;
		background-image: url('../images/logo/symbol.svg');	
		background-repeat: no-repeat;
		width: 18px;
		height: 29px;
	}
 }

.page{
	&--banner{
 		float: left;
		width: 100%;
		padding: 20px;
		background-color: $white;
		border-bottom: 0.5px solid $border-color;
 	}
}

.page{
	.form{
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="date"],
		input[type="number"],
		textarea{
			color: $white;
		}
		.floating-label{
			color: $white;
		}
		input[type="submit"]{
			background-color: transparent;
			border: 1px solid $white;
			color: $white;	
			&:hover{	
				background-color: $white;
				color: $black;		
			}
		}
		.inputSubmit {
		    position: relative;
		}
	}
}

.contact{

	.form{
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="date"],
		input[type="number"],
		textarea{
			color: $black;
		}
		.floating-label{
			color: $black;
		}
		input[type="submit"]{
			background-color: $black;
			border: 1px solid $black;
			color: $white;	
			&:hover{	
				background-color: transparent;
				color: $black;		
			}
		}
		.inputText{
			position: relative;
		}

		.inputSubmit{
			position: relative;
		}
		.inputSubmit {
		    position: relative;
		    width: auto;
		    float: right;
		}
	}
}

.intro{
	
	&--figure{
		position: relative;
		width: 100%;
  		height: 559px;
  		overflow: hidden;
	
		&-img{
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			@include transform(scale(1));
			@include transition(transform 650ms ease-in-out);
		}

		&-title{
			position: absolute;
			left: 0; bottom: 0;
			z-index: 4;
			background-color: $secundary-color;
			padding: 10px;
			font-family: 'gotham_lightregular';
			font-size: 11px;
			font-weight: 500;
			line-height: 1.09;
			letter-spacing: 0.1px;
			text-align: left;
			color: $tertiary-color;
			text-transform: uppercase;
			margin: 0;
		}

	}

}

.posts{
	position: relative;
	width: 100%;
	float: left;
	padding-bottom: 40px;
	&--area{
		
	}
}

.newsletter{
	background-color: $black;
	width: 100%;
	float: left;
	padding: 49px 50px 30px;

	&--title{
		font-family: 'gotham_mediumregular';
		font-size: 18px;
		font-weight: 500;
		line-height: 1.5;
		text-align: left;
		float: left;
		color: $white;
		margin: 0;
		@extend .col-md-3;
	}

	&--form{
		@extend .col-md-9;
		
		.form{
			@extend .row;

			input[type="text"],
			input[type="email"]{
				border-bottom: 1px solid #979797;
				color: $white;
				margin-bottom: 0;
			}

			input[type="submit"]{
				border: 1px solid $white;
				background-color: $white;
				color: $black;
				&:hover{
					background-color: transparent;
					border: 1px solid $white;
					color: $white;
				}
			}
			.inputText{
				margin-top: 13px;
				@extend .col-md-4;
			}

			.inputSubmit{
				@extend .col-md-4;
			}

			.floating-label {
				left: 20px;
			}

			input:focus ~ .floating-label{
				top: 0;
				font-size: 10px;
				opacity: 0.5;
			}

		}
	}
}


.page{
	&-sobre{
		.content{
			padding-top: 120px;
			padding-bottom: 120px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&--entry{
		h2{
			font-family: 'gotham_mediumregular';
			font-size: 48px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.1;
			letter-spacing: normal;
			text-align: left;
			color: $secundary-color;
		}

		h3{
			font-family: 'gotham_mediumregular';
			font-size: 20px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
			color: $secundary-color;
			margin-bottom: 40px;
    		margin-top: 0;
		}

		p{
			font-family: 'gotham_book';
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 32px;
			letter-spacing: normal;
			text-align: left;
			color: #343434;
			margin: 0 0 40px;
		}

		blockquote{
			background-image: url('../images/group-5-copy.svg');
			background-repeat: no-repeat;
			width: 100%;
			height: 48px;
			margin: 25px 0 60px;
			display: table-cell;
			p{
				padding-left: 60px;
				font-family: 'arapeyitalic';
				font-size: 26px;
				font-weight: normal;
				font-style: italic;
				font-stretch: normal;
				line-height: 1.38;
				letter-spacing: 1.1px;
				text-align: left;
			}
		}

		strong{
			font-family: 'gotham_mediumregular';
			font-weight: 500;
		}

		ul{
			display: inline-grid;
			margin: 0;
			padding: 0 20px 40px;
			list-style-image: url('../images/icons/bullets.svg');
			li{
				padding-top: 40px;
				padding-left: 30px;
				font-family: 'gotham_book';
				font-size: 16px;
				line-height: 1.39;
				color: #343434;
				strong{
				}
				&:first-of-type{
					padding-top: 0;
				}
			}
		}

	}
}

.entry{
	float: left;
    width: 100%;
	float: left;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 110px;
	padding-bottom: 100px;

	&--content{
		position: relative;

		h2{
			position: relative;
			font-family: 'gotham_mediumregular';
			font-size: 48px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.1;
			letter-spacing: normal;
			text-align: left;
			color: #000000;
			&:before{
				content: '';
				position: absolute;
				top: -60px; left: 0;
				z-index: 3;
				background-image: url('../images/simbolo.svg');	
				background-repeat: no-repeat;
				background-size: contain;
				width: 28px;
				height: 46px;
			}
		}

		p{
			font-family: 'gotham_book';
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: $quaternary-color;
		}

		blockquote{
			border-left: 2px solid $tertiary-color;
			padding-left: 20px;
			margin: 0;
			font-style: normal;
			word-spacing: 3px;
			p{
				font-family: 'gotham_mediumregular';
				font-size: 30px;
				font-weight: 500;
				line-height: 1.65;
				color: #333333;				
			}
		}

		a{
			font-family: 'gotham_mediumregular';
			font-size: 14px;
			font-weight: 500;
			line-height: 1.79;
			color: $tertiary-color;
			text-decoration: underline;
		}

		.form-default{
			padding-top: 30px;
		}

	}

}

.social{
	display: none;
	position: absolute;
    right: -155px;
    top: -35px;
	ul{
		list-style-type: none;
		margin: 0;   
		padding: 0;
		width: 50px;
		text-align: center;
		background-color: $secundary-color;
		li{
			padding: 5px 0;
			display: block;
			a{
				color: $primary-color;
				font-size: 25px;
			}
		}
	}
}

.posts{

	&--area{
		float: left;
		width: 100%;
		padding: 20px;
		background-color: $white;
		&.pad{
			padding: 80px 100px 0;
		}
		&-loop{

		}
	}

	.post-left{
		border-right: 0.5px solid $quinine-color;
		width: 40%;
	}
	.post-right{
		width: 60%;
	}

	&.big{
		.post{
			&--card{

				&-figure{
					height: 559px;
				}

				&-content{

				}

				&-title{
					font-size: 30px;
					font-weight: 500;
					line-height: 1.17;
					text-align: left;
				}
			}
		}
	}
}

.products{
	&--area{
		position: relative;
		padding: 80px 100px;
		float: left;
		width: 100%;
		background-color: $white;
		border-bottom: 2px solid rgba(206, 206, 206, 0.3);

		&-title{
			font-family: 'gotham_boldregular';
			font-size: 30px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.17;
			letter-spacing: normal;
			text-align: left;
			color: $quaternary-color;
			margin: 0 0 20px;
		}

		&-text{
			font-family: 'gotham_book';
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: $quaternary-color;

			margin-bottom: 60px;
		}

		&-loop{
			margin-right: -25px;
			margin-left: -25px;
			.row{
				margin-left: -30px;
				margin-right: -30px;
			}
			.col{
				padding-left: 30px;
				padding-right: 30px;
			}
		}

	}
}

.pagination{
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	&--list{
		list-style: none;
		margin: 0;
		text-align: center;
		padding: 0;
		display: inline-block;
		&-link{
  			padding-left: 5px;
  			display: inline-block;
  			vertical-align: middle;
  			&:first-of-type{
  				padding-left: 0;
  			}
			&.active{  				
				.page-numbers{
					border: solid 2px $tertiary-color;
					&.current{
					
					}
				}
			}
			.page-numbers{				
				float: left;
				width: 44px;
	  			height: 44px;
	  			line-height: 41px;
	  			border: solid 2px $quaternary-color;
	  			opacity: 0.7;
				font-family: 'gotham_mediumregular';
				font-size: 14px;
				text-align: center;
				color: $secundary-color;
				&.current{
				
				}
			}
			.next,
			.prev{
				border: solid 2px $quinine-color;
				color: $tertiary-color;				
			}
		}
	}
}


.tags:before,
.tags:after{
  display: table;
  content: " ";
}

.tags:after{
  clear: both;
}

.tags{
	margin-left: -5px;
	margin-right: -5px;
	a{
		background-color: transparent;
		border: solid 0.5px $secundary-color;
		font-family: 'gotham_lightregular';
		font-size: 11px;
		text-align: center;
		color: $secundary-color;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		padding: 6.5px 30px;
		margin: 5px;
		@include transition(all 0.3s linear);
		&:hover{
			background-color: $secundary-color;
			color: $primary-color;
		}
	}
}

.success{
	.area--posts{
		width: 100%;
		float: left;
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 100px;
		.row{
			margin-left: -50px;
			margin-right: -50px;
		}
		.col-md-4{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

#nsl-notices-fallback{
	position: fixed;
    right: auto!important;
    left: 0;
    top: 0!important;
    z-index: 9999999!important;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

	.updated{
		 position: absolute;
        top: 5rem;
        left: 50%;
		-webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);

		width: 600px;
    	max-width: 100%;
		position: relative;
		background: #fff!important;
		border-left: 0!important;
		box-shadow: none!important;
		margin: 0!important;
		padding: 50px 40px!important;
		p{
			font-family: 'gotham_book';
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: center;
			color: #4e4e4e;
		}
	}
}

.myaccount{

	&-wrapper{
		position: relative;
		width: 100%;
		float: left;
		padding: 100px 0;
	}

	&--container{
		width: 813px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.page__title{
		margin-bottom: 0;
	}

	.statususer{
        display: none;
        font-family: 'gotham_book';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #4e4e4e;
        padding: 20px 0;
        width: 100%;
        float: left;
        @media only screen and (max-width: 640px) {
            font-size: 14px;
            line-height: 1;
            padding: 15px 0;
        }
    }

	&--content{
		width: 100%;
		float: left;
		padding: 100px 0;
		border-bottom: solid 2px rgba(206, 206, 206, 0.4);
	}

	&--subtitle{
		font-family: 'gotham_mediumregular';
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.17;
		letter-spacing: normal;
		text-align: left;
		color: #343434;
		margin: 0 0 15px;
	}

	&--text{
		font-family: 'gotham_book';
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		color: #4e4e4e;
	}

	#moda_changepassword{
		.form-group{
			width: 100%;
		}
	}

	&--socialconnect{
		width: 100%;
		float: left;
		margin-bottom: 50px;

		div.nsl-container{
			max-width: 100%;
			display: inline-block;
    		vertical-align: middle;
			a{
				width: max-content;
				height: 47px;
				float: left;
				padding: 0;
				margin: 0 30px 0 0;
				outline: none;
				@include transition( all 450ms ease-in-out );

				.nsl-button{
					display: inline-block!important;
					vertical-align: middle;
	    			border-radius: 0;
				    line-height: 47px!important;
				    padding: 0 30px!important;
				    margin: 0!important;

					@include transition( all 450ms ease-in-out );

					span{
						display: contents;
    					vertical-align: initial;
					    font-family: 'gotham_mediumregular'!important;
					    font-size: 14px!important;
					    font-weight: 500;
					    font-style: normal;
					    font-stretch: normal;
					    letter-spacing: normal!important;
					    text-align: center!important;
				    	color: #FFF!important;

				    	flex: none!important;	
				    	margin: 0!important;
				    	padding: 0!important;	
						@include transition( all 450ms ease-in-out );	
					}

	    			svg{
	    				display: none;
	    			}
				}

				.nsl-button-facebook{
					border: 1px solid #0042b2;
					background-color: #0042b2 !important;
				}

				.nsl-button-google{
					border: 1px solid #a80000;
					background-color: #a80000 !important;
				}

				&:hover{
					.nsl-button-facebook{
						background-color: transparent!important;
						span{
							color: #0042b2!important;		
						}
					}
					.nsl-button-google{	
						background-color: transparent!important;
						span{
							color: #a80000!important;		
						}
					}
				}
			}
		}

		a{
			float: none;
			vertical-align: middle;
    		display: inline-block;
			margin-right: 30px;
		}

		span{
			display: inline-block;
			vertical-align: middle;

			font-family: 'gotham_mediumregular';
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #343434;
		}
	}

	&--editemail{		
		width: 100%;
		float: left;

		form{
			.form-group {
				width: 40%;
				float: left;
				.msg{
					width: 100%!important;
				}
			}
			.editemail{
				padding: 0;
				height: auto;
				line-height: 1;
				float: left;
				background-color: transparent;
				border: 0;
				text-transform: uppercase;
				color: #000000;
				margin-left: 40px;
			}

			.res{
	            display: none;
	            font-family: 'gotham_book';
	            font-size: 16px;
	            font-weight: normal;
	            font-style: normal;
	            font-stretch: normal;
	            line-height: 2;
	            letter-spacing: normal;
	            text-align: left;
	            color: #4e4e4e;
	            padding: 20px 0;
	            width: 100%;
	            float: left;
	            @media only screen and (max-width: 640px) {
	                font-size: 14px;
	                line-height: 1;
	                padding: 15px 0;
	            }
	        }
		}

		.modal{
			&-title{
    			span{
    				display: block;
    				width: 100%;
    			}
			}
		}
		
		.button{
			&--yes{
				float: right;
				width: 130px!important;
				height: 47px;
				background-color: #000000;
				margin-top: 0!important;
				border: solid 2px #000000!important;
			}
			&--no{
				float: left;
				width: 130px;
				height: 47px;
				line-height: 47px;
				color: #000000;
				border: solid 2px #000000;
				font-family: 'gotham_mediumregular';
	            font-size: 14px;
	            font-weight: 500;
	            font-style: normal;
	            font-stretch: normal;
	            letter-spacing: normal;
	            text-align: center;
				text-transform: uppercase;
	            @include transition(all 0.5s linear);
				&:hover{
					background-color: #000000;					
					color: #FFFFFF;
				}
			}
		}
	}

	&--password{
		form{
			margin-top: 30px;
			.form-group {
				width: 47.5%;
				float: right;
				&:first-child{
					float: left;
				} 
			}
			.myaccount--button{
				margin-top: 50px;
			}
		}
	}

	&--button{
		width: max-content;
		height: 47px;
		float: left;
		padding: 0 30px;
		border: 1px solid #000000;
		outline: none;
		background-color: #000000;
		font-family: 'gotham_mediumregular';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 47px;
		letter-spacing: normal;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@include transition( all 450ms ease-in-out );

		&:hover{
			background-color: transparent;
			color: #000000;
			&.facebook{
				background-color: transparent;
				color: #0042b2;		
			}
			&.google{	
				background-color: transparent;
				color: #a80000;	
			}
		}

		&.facebook{
			border-color: #0042b2;
			background-color: #0042b2;			
		}
		&.google{
			border-color: #a80000;
			background-color: #a80000;			
		}
	}

	&--delete{
		border-bottom: 0;
		padding: 20px 0 0;
		
		&-button{
			font-family: 'gotham_mediumregular';
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #343434;
			text-transform: uppercase;
		}

		p{
			font-family: 'gotham_book';
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: 0.1px;
			text-align: center;
			color: #000000;
			margin-bottom: 60px;
		}

		&-confirm{
			font-family: 'gotham_mediumregular';
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			text-decoration: underline;
			text-transform: uppercase;
			color: #df0000 !important;
			float: left;
		    width: 100%;
		    margin-top: 25px;
		    margin-bottom: 30px;
		    &:focus{
		    	outline: none;
		    }

		}

		.modal{
			.wrapper{
				&.large{
					padding: 100px 60px;
				}
			}
			&-content{

			}
			&-header{

			}
			&-title{
    			margin-bottom: 20px;
			}
			&-body{
				.myaccount--button{
					width: 100%;
				}
			}
			&-footer{

			}
		}
	}

	form{
		input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"]{
            outline: none;
            border: 0;
            border-radius: 0;
            padding: 5px 0;
            background-color: transparent;
            border-bottom: 2px solid #cecece;
            width: 100%;
            font-family: 'gotham_book';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.1px;
            text-align: left;
            color: #000000;

            &.valid{
                border-bottom: 1px solid #ffb02b;
            }
            &.error{
                color: #df0000;
                border-bottom: 1px solid #df0000;
            }
        }

        input[type="submit"]{
        }

        .form-group {
            position: relative;
            margin-bottom: 2rem;
            text-align: left;
            em{
                position: absolute;
                bottom: -15px;
                left: 0;
                width: 50%;

                font-family: 'gotham_book';
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: 0.1px;
                text-align: left;
                color: #979797;
            }            

            .msg{
                position: absolute;
                bottom: -15px;
                right: 0;
                width: 50%;

                font-family: 'gotham_book';
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: 0.1px;
                text-align: right;

                &.error{
                    color: #df0000;                    
                }
            }
        }

        .toggle-password{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;

            background-image: url('../images/icons/view-show.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            height: 12px;
            @include transition(all 0.5s linear);

            &.show{
                background-image: url('../images/icons/view-hide.svg');
            }
        }


        .form-control-placeholder {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            pointer-events: none;
            transition: all 200ms;

            font-family: 'gotham_book';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.1px;
            text-align: left;
            color: #000000;

            &.error{
                color: #df0000;                
            }

        }

        .form-control:focus + .form-control-placeholder,
        .form-control:valid + .form-control-placeholder {
            font-size: 75%;
            opacity: 0.5;
            transform: translate3d(0, -100%, 0);
        }
	}

}