/**
 * 1.0 Basic Single
 * ----------------------------------------------------------------------------
 */
.endscroll{
	width: 100%;
	float: left;
}

 .single{
	width: 100%;
	float: left;

	&--list{

	}

	.single_article{
		padding-left: 40px;
	    padding-right: 40px;
	    width: 100%;
	    float: left;
	}

	.banners{
		&--area{
			&-loop{
				.banner{
					height: 559px;
				}
			}
		}
	}

}

/* -------------------------------- 

Articles

-------------------------------- */
.cd-articles {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0;
	float: left;
	&::before{		
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'mobile';
		display: none;
	}
	article {
		float: left;
		width: 100%;
		padding: 0;
		margin-bottom: 100px;
		overflow: hidden;

		&:last-of-type {
			//margin-bottom: 0;
			border-bottom: none;
		}

		&.active{
			> header{
				@include opacity(1);
			}
			>section{
				@include opacity(1);
			}
		}

		> header{
			position: relative;
			width: 100%;
			float: left;
			padding: 20px;
			margin-bottom: 100px;
			background-color: $white;
			border-bottom: 0.5px solid $border-color;
			@include opacity(.2);
			@include transition(opacity 1s ease-in-out);
			.figure{
				position: relative;
				width: 100%;
				height: 559px;
				overflow: hidden;
				&-img{
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: 50% 50%;
					@include transform(scale(1));
					@include transition(transform 650ms ease-in-out);
				}
			}
			.category{
				position: absolute;
				left: 20px; bottom: 20px;
				z-index: 4;
				background-color: $black;
				padding: 10px;
				font-family: 'gotham_boldregular';
				font-size: 11px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.09;
				letter-spacing: 0.1px;
				text-align: left;
				color: $orange;
				text-transform: uppercase;
			}
		}
		>section{
			@include opacity(.2);
			@include transition(opacity 1s ease-in-out);
			.body{
				width: 66.66666667%;
				position: relative;
				min-height: 1px;
				padding-right: 20px;
				padding-left: 0;
				padding-top: 20px;
				float: left;
				@include transition(width .8s ease);
				&.retract{
					margin-left: 15%;
				}
				&--title{
					position: relative;
					font-family: 'gotham_mediumregular';
					font-size: 48px;
					font-weight: 500;
					line-height: 1.1;
					text-align: left;
					color: $secundary-color;
					margin-top: 0;
				}
				&--content{

					p{
						font-family: 'gotham_book';
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 32px;
						letter-spacing: normal;
						text-align: left;
						color: #343434;
						margin: 0 0 40px;
					}

					blockquote{
						background-image: url('../images/group-5-copy.svg');
						background-repeat: no-repeat;
						background-repeat: no-repeat;
						width: 100%;
						height: 48px;
						margin: 25px 0 60px;
						display: table-cell;
						p{
							padding-left: 60px;
							font-family: 'arapeyitalic';
							font-size: 26px;
							font-weight: normal;
							font-style: italic;
							font-stretch: normal;
							line-height: 1.38;
							letter-spacing: 1.1px;
							text-align: left;
						}
					}

					h2{
						position: relative;
						font-family: 'gotham_mediumregular';
						font-size: 30px;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.17;
						letter-spacing: normal;
						text-align: left;
						color: $secundary-color;
						margin: 40px 0;
					}

					h3{
						font-family: 'gotham_mediumregular';
						font-size: 20px;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.5;
						letter-spacing: normal;
						text-align: left;
						color: $secundary-color;
						margin: 30px 0;
					}

					a{

						font-family: 'gotham_book';
						font-size: 16px;
						line-height: 1.8;
						color: $tertiary-color;
					}

					img{
						max-width: 100%;
						height: auto;
						display: block;
					}

					iframe{
						max-width: 100%!important;
						width: 100%!important;
						height: 457px!important;
					}

					ul{
						display: inline-grid;
						margin: 0;
						list-style-image: url('../images/icons/bullets.svg');
						li{
							padding-top: 10px;
							font-family: 'gotham_book';
							font-size: 16px;
							line-height: 1.39;
							color: #343434;
							&:first-of-type{
								padding-top: 0;
							}
						}
					}
				}
				.tags{
					float: left;
					width: 100%;
					h2{
						position: relative;
						font-family: 'gotham_mediumregular';
						font-size: 30px;
						font-weight: 500;
						line-height: 1.17;
						text-align: left;
						color: $secundary-color;
					}
				}
			}
		}

	}

	.article--next{
		float: left;
		width: 100%;
		border-bottom: 2px solid rgba(255, 176, 43, .8);
		.article-title{
			position: relative;
			width: 640px;
			max-width: 100%;
			background-color: #000000;
			margin: 0 auto;
			text-align: center;
			padding: 10px 20px 15px;
			margin-bottom: 50px;
			&:after{
				content: '';
				position: absolute;
				bottom: -20px;
				left: 50%;
				@include transform(translateX(-50%));

				width: 0; 
				height: 0; 
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;

				border-top: 20px solid #000000;
			}
			strong{
				display: block;
				text-align: center;
	    		font-family: 'gotham_book';
				font-size: 18px;
				text-transform: uppercase;
				color: rgba(255, 176, 43, 1);
			}
			a{
				font-family: 'gotham_book';
				font-size: 16px;
				line-height: 1.2;
				letter-spacing: 0.1px;
				color: #FFFFFF;
			}
		}
	}
}

@media only screen and (min-width: 1100px) {
	.cd-articles::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}