/**
 * 1.0 dashboard settings
 * ----------------------------------------------------------------------------
 */
.dashboard{
	height: 100%;
    background-color: #F4F5FA;
    direction: ltr;
}

.card{
	float: left;
    width: 100%;
	background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;

    &-header {
    	float: left;
    	width: 100%;
	    color: #555;
	    padding: 20px;
	    position: relative;
	    border-bottom: 1px solid rgba(204, 204, 204, 0.35);

	    display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;

	    h2 {
    		width: 100%;
		    margin: 0;
		    font-family: 'gotham_mediumregular';
			font-size: 18px;
			font-weight: 500;
			line-height: 1.1;
		    color: #2c303b;
		    display: flex;
    		align-items: center;
		}

		.header-dropdown {
		    position: absolute;
		    top: 25px;
    		right: 20px;
		    margin: 0;
    		padding: 0;
			list-style-type: none;

		    li{
		    	display: inline-block;
		    }

		    i {
			    font-size: 20px;
			    color: #999;
			    -moz-transition: all 0.5s;
			    	-o-transition: all 0.5s;
			    		-webkit-transition: all 0.5s;
			    			transition: all 0.5s;
			}
		}
	}

	 &-controls{
	 	position: relative;
	 	float: right;
	 	color: #555;
	 	font-family: 'gotham_book';
		font-weight: 400;
		a{
			color: #555;
			padding: 3px;
			opacity: .4;
			i{
				font-size: 15px;		
			}
			&:hover{
				opacity: 1;
				color: #6bafbd;
			}
		}
    }

	&-actions{
		position: relative;
		margin-top: 15px;
		
		.period{
			display: inline-block;
			vertical-align: middle;
			background-color: rgba(0, 0, 0, 0.1);
			padding: 5px 10px;
			border-radius: 5px;

			font-family: 'gotham_lightregular';
			font-size: 11px;
			text-transform: uppercase;
			color: #343434;
			-webkit-transition: background-color .3s, color .3s;
				-moz-transition: background-color .3s, color .3s;
					-ms-transition: background-color .3s, color .3s;
						-o-transition: background-color .3s, color .3s;
							transition: background-color .3s, color .3s;

			&:hover, &.active{
				background-color: #6bafbd;
				color: #FFF;
			}

		}

		&__item{
			position: absolute;
			right: 0;
			z-index: 2;
			top: 50%;
			transform: translateY(-50%);
			.dropdown{
				position: relative;
			    vertical-align: middle;
			    display: inline-block;
			    width: 35px;
			    height: 35px;
			    line-height: 35px;
			    text-align: center;
			    font-size: 1.55rem;
			    color: rgba(255,255,255,.85);
			    cursor: pointer;
			    border-radius: 50%;

				-webkit-transition: background-color .3s, color .3s;
					-moz-transition: background-color .3s, color .3s;
						-ms-transition: background-color .3s, color .3s;
							-o-transition: background-color .3s, color .3s;
								transition: background-color .3s, color .3s;

			    &:hover{
			    	color: #fff;
		    		background-color: #6bafbd;
			    }

				&-toggle{
					i{
						font-size: 20px;
					    color: #999;
					    -moz-transition: all 0.5s;
					    	-o-transition: all 0.5s;
					    		-webkit-transition: all 0.5s;
					    			transition: all 0.5s;
					}
				}

				&-menu {
				    box-shadow: 0 4px 18px rgba(0,0,0,.5);
				    min-width: 10rem;
				    padding: .8rem 0;
				    margin: 0;
				    font-size: 1rem;
				    color: rgba(255,255,255,.85);
				    text-align: left;
				    background-color: #2c303b;
				    background-clip: padding-box;
				    border: 0 solid transparent;
				    border-radius: 2px;
				}
				&-item {
				    line-height: 1.5;
				    display: block;
				    width: 100%;
				    padding: .3rem 1rem;
				    clear: both;
				    color: rgba(255,255,255,.85);
				    text-align: inherit;
				    background: 0 0;
				    border: 0;

					-webkit-transition: background-color .3s, color .3s;
						-moz-transition: background-color .3s, color .3s;
							-ms-transition: background-color .3s, color .3s;
								-o-transition: background-color .3s, color .3s;
									transition: background-color .3s, color .3s;

					&:hover, &.active{
						color: #6bafbd;
					}

				}
			}
		}
	}

	&-image {
		float: left;
	    width: 100%;
	    overflow: hidden;
	    height: 120px;
	    border-radius: 4px 4px 0 0;
	    position: relative;
	    -webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	    transform-style: preserve-3d;

	    img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&-body {
		width: 100%;
		float: left;
	    padding: 20px;
	    font-size: 14px;
	    color: #555;

	    .box{
	    	
	    	a{
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				align-items: center;
				justify-content: center;

				font-family: 'gotham_book';
			    font-weight: 400;
			    color: #343434;
			    margin: 0;

			    -webkit-transition: color .3s;
					-moz-transition: color .3s;
						-ms-transition: color .3s;
							-o-transition: color .3s;
								transition: color .3s;

				&:hover{
					color: #6bafbd;
				}
	    	}

	    	&-label{
			    font-size: 16px;
				width: 100%;
	    	}

	    	&-total{
	    	}
	    }

	    table{
	    	tbody{
	    		td{
					font-family: 'gotham_book';
					font-size: 11px;
					font-weight: 400;
					color: #343434;
	    		}
	    	}
	    }

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			li{
				width: 100%;
				float: left;
				padding: 10px 0;
	    		overflow: hidden;
				font-family: 'gotham_book';
				font-size: 14px;
				font-weight: 400;
				color: #343434;
			    text-overflow: ellipsis;
			    white-space: nowrap;
				a{
					display: inline-block;
					vertical-align: middle;
					font-family: 'gotham_book';
					font-size: 14px;
					font-weight: 400;
					color: #343434;
		    		overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;

				    -webkit-transition: color .3s;
						-moz-transition: color .3s;
							-ms-transition: color .3s;
								-o-transition: color .3s;
									transition: color .3s;

					&:hover, &.active{
						color: #6bafbd;
					}
				}
				.badge{
					float: right;
				}
			}

			li + .badge{
				width: 90%;
			}
		}

	}
}

.card-user{
	.card-image{
    }

    .author {
	    text-align: center;
	    text-transform: none;
	    margin-top: -70px;    

	    .avatar {
		    width: 124px;
		    height: 124px;
		    border: 5px solid #EEEEEE;
		    position: relative;
		    margin-bottom: 15px;
		    overflow: hidden;
		    border-radius: 50%;
		    margin-right: 5px;
		    
			object-fit: cover;
			object-position: center;
		}

		.title {
			line-height: 24px;
			font-size: 16px;
			margin: 0 0 15px;
		}
	}
	.description{
		ul{
			list-style: none;
		    margin: 0;
		    padding: 0;		
		    text-align: left;	
			li{
				width: 100%;
				float: left;
				padding: 10px 0;
				.label {
					font-family: 'gotham_book';
		    		font-size: 10px;
				    font-weight: 400;
				    color: #fff;
				    padding: 5px;
				    text-align: left;
				    text-transform: uppercase;
				    width: fit-content;
				    display: block;
					i{
						position: relative;
						font-size: 16px;
			    		color: #FFF;
					}
				}
				span{
					font-family: 'gotham_lightregular';
		    		font-size: 14px;
		    		font-weight: 400;
		    		color: #2c303b;
		    		display: block;
				}
			}
		}
	}
}

.card-stats{
    position: relative;
	float: left;
    width: 100%;
    min-height: 50px;
    margin-bottom: 30px;
    padding: 1.5rem 1.5rem 1.45rem;
	background: #6bafbd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

	&::after{
		content: "";
		display: block;
    	clear: both;
	}

    &--header{
    	min-width: 0;
    	h2{
        	font-family: 'gotham_book';
        	font-weight: 400;
		    font-size: 35px;
		    line-height: 1;
        	letter-spacing: 0.1px;
			text-overflow: ellipsis;
		    color: #fff;
			white-space: nowrap;
			overflow: hidden;
    		margin: 0;
    	}
    	small{
        	font-family: 'gotham_book';
    		font-size: 14px;
    		font-weight: 400;
			display: block;
		    color: #fff;
			margin-top: .6rem;
			line-height: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
    	}
    }

    &--icon{
		position: absolute;
		top: 15px;
		right: 10px;
		opacity: .3;
		i{
			color: #FFF;
			font-size: 80px;	
		}
    }

}

.card-social{
    position: relative;
    margin-bottom: 30px;
	text-align: center;
	float: left;
    width: 100%;
	min-height: 160px;
	background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;

    &.facebook{
    	i{
		    color: #fff;
		    background: #3b5998;    		
    	}
    }

    &.instagram{
    	i{
		    color: #fff;
		    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);		
    	}
    }

    &.twitter{
    	i{
		    color: #fff;
		    background: #00aced;    		
    	}
    }

	i {
	    display: block;
	    margin: -1px -1px 0;
	    font-size: 40px;
	    line-height: 110px;
  		box-shadow: 0px 3px 10px rgba(0,0,0,.25);
	}
	ul {
	    display: inline-block;
	    margin: 7px 0 0;
	    padding: 15px;
	    width: 100%;
	    list-style: none;
	    li{
	    	display: block;
		    float: left;
		    width: 100%;
		   	text-align: center;
		   	border-top: 1px solid #c2cfd6;

		   	h4{
		   		font-family: 'gotham_book';
	    		font-size: 17px;
	    		font-weight: 400;
	    		color: #343434;

	    		margin: 0;
		   	}

		   	h5{
		   		font-family: 'gotham_book';
	    		font-size: 15px;
	    		font-weight: 400;
	    		color: #343434;
	    		margin: 0;
		   	}

		   	label{
		   		span{
		   			font-family: 'gotham_book';
		    		font-size: 14px;
		    		font-weight: 400;
		    		color: #949CA0;
		   			&.count{
						font-size: 15px;
		   			}
		   		}
		   	}

		    strong{
		    	text-align: right;	
			    font-size: 14px;			
			}

	    	&:first-of-type {
	    		border-top: 0;
		    }
		    &:last-of-type {
			}
		}
	}
}

.card-featured{
	position: relative;
    margin-bottom: 30px;
	text-align: center;
	float: left;
    width: 100%;
	min-height: 160px;
	background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;

    &--header{
    	width: 100%;
		height: 130px;
		padding: 0;
		margin: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #00aced;
	  	box-shadow: 0px 3px 10px rgba(0,0,0,.25);

	  	h3{
	  		font-family: 'gotham_book';
    		font-size: 17px;
    		font-weight: 400;
    		text-align: center;
    		color: #FFF;
    		margin: 10px 0 0;
    		display: block;
	  	}
		i {
		    text-align: center;
		    font-size: 40px;
    		color: #FFF;
		    display: block;
		    margin: -1px -1px 0;
		}
    }

    &--body{
		ul {
		    display: inline-block;
		    margin: 7px 0 0;
		    padding: 15px;
		    width: 100%;
		    list-style: none;
		    li{
		    	display: block;
			    float: left;
			    width: 100%;
			   	text-align: center;

			   	h4{
			   		font-family: 'gotham_book';
		    		font-size: 15px;
		    		font-weight: 400;
		    		color: #343434;
		    		margin: 0;
		    		display: block;
			   	}

			   	span{
		   			font-family: 'gotham_book';
		    		font-size: 25px;
		    		font-weight: 400;
		    		color: #949CA0;
		    		margin: 0;
		    		display: block;
		   		}
			}
		}    	
    }
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table tbody tr td, 
.table tbody tr th {
    padding: 10px;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.popular-post{
	position: relative;
    width: 100%;
    float: left;
    padding-bottom: 0;
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			width: 100%;
			float: left;
			padding: 5px 0;
    		overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;

			.btn-circle {
				display: inline-block;
				vertical-align: middle;
			    width: 35px;
			    height: 35px;
			    line-height: 35px;
			    margin-right: 15px;
			    text-align: center;
			    background-color: #6bafbd;
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    -ms-border-radius: 50%;
			    border-radius: 50%;
			    -webkit-mask-image: none;
			    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
			    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
			    -webkit-transition: all 300ms;
			    -moz-transition: all 300ms;
			    -o-transition: all 300ms;
			    transition: all 300ms;
				
				font-family: 'gotham_book';
				font-size: 14px;
		    	color: #FFF;
			}
			a{
				display: inline-block;
				vertical-align: middle;
				font-family: 'gotham_book';
	    		font-size: .9rem;
	    		font-weight: 400;
	    		color: #343434;
	    		overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;

			    -webkit-transition: color .3s;
					-moz-transition: color .3s;
						-ms-transition: color .3s;
							-o-transition: color .3s;
								transition: color .3s;

				&:hover, &.active{
					color: #6bafbd;
				}
			}
		}
	}
}