/**
 * 1.0 dashboard dropdown menu
 * ----------------------------------------------------------------------------
 */
.dropdown{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &.show{
        .dropdown-menu {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
        // .dropdown-toggle::after {
        //     border-top: 0;
        //     border-bottom: .3em solid #2C303B;
        // }
    }

    &-toggle{
        outline: none;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus{
            outline: none;
            text-decoration: none;
        }

        // &::after {
        //     display: inline-block;
        //     width: 0;
        //     height: 0;
        //     margin-left: .3em;
        //     vertical-align: middle;
        //     content: "";
        //     border-top: .3em solid #2C303B;
        //     border-right: .3em solid transparent;
        //     border-left: .3em solid transparent;
        //     -webkit-transition: border .2s ease-out;
        //     -o-transition: border .2s ease-out;
        //     transition: border .2s ease-out;
        // }
    }

    &-menu{
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        float: left;

        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);

        display: block;
        margin: 0;
        padding: .5rem 0;
        
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;

        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);

        -webkit-transition: -webkit-transform .15s ease-out;
        transition: -webkit-transform .15s ease-out;
        -o-transition: transform .15s ease-out;
        transition: transform .15s ease-out;
        transition: transform .15s ease-out, -webkit-transform .15s ease-out;

        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        li{
            padding: 10px 20px;
            width: 100%;
            a {
                font-family: 'gotham_mediumregular';
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.1px;
                text-align: left;
                color: #343434;
                min-height: auto;
                padding: 10px 15px;
                -webkit-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }
        }
    }

}

/**
 * 1.0 bootstrap-select
 * ----------------------------------------------------------------------------
 */
*:focus{
    outline: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select{
    position: relative;
    width: 100%;
    height: 34px;
    float: none;
    display: inline-block;
    margin-left: 0;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;

    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;

    -webkit-transition: border-color ease-in-out .15s, 
                        -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, 
                    box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, 
                box-shadow ease-in-out .15s;

    &.open{
        .dropdown-menu {
            display: block;
        }
    }

    .btn{
        position: relative;
        float: left;
        width: 100%;
        padding-right: 0;
        z-index: 1;
        background: transparent;
        border: 0; 

        &::focus{
            outline: none;
        }

        .filter-option {
            font-family: 'gotham_mediumregular';
            font-size: 14px;
            line-height: 25px;
            font-weight: 500;
            white-space: nowrap;
            color: #2c303b;

            width: fit-content!important;
        }

        .bs-caret{
            .caret{
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px dashed;
                border-top: 4px solid \9;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;

                position: absolute;
                top: 50%;
                right: 12px;
                bottom: 1px;
                margin-top: -2px;
                vertical-align: middle;
            }
        }
    }

    .dropdown-toggle{

    }

    ul.dropdown-menu {
        margin-top: 0 !important;
    }

    .popover-title{
        background-color: #eee !important;
        color: #555 !important;
        display: block;
        padding: 3px 20px;

        button{

        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        width: 100%;
        padding-right: 0;
        margin-top: -35px !important;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border: none;
        -webkit-background-clip: padding-box;
            background-clip: padding-box;
        -webkit-border-radius: 0;
            -moz-border-radius: 0;
                -ms-border-radius: 0;
                    border-radius: 0;
        transform: none;
        min-width: 100%;
        -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transform-origin: top center;
            -ms-transform-origin: top center;
                transform-origin: top center;

        &.inner {
            position: static;
            float: none;
            border: 0;
            padding: 0;
            margin: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        li {
            position: relative;
            padding: 0;
            a{
                display: block;
                clear: both;

                font-family: 'gotham_book';
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
                white-space: nowrap;
                color: #2c303b;
                cursor: pointer;
                padding: 7px 18px;
                -webkit-user-select: none;
                    -moz-user-select: none;
                        -ms-user-select: none;
                            user-select: none;
                -moz-transition: all 0.5s;
                    -o-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                span.text {
                    display: inline-block;
                    margin-right: 34px;
                }
                span.check-mark {
                    display: none;
                }
            }
            &.selected, &:hover{
                a {
                    background-color: #eee !important;
                    color: #555 !important;
                }
                span.check-mark {
                    position: absolute;
                    display: inline-block;
                    right: 15px;
                    margin-top: 9px;
                }
            }
        }
    }
}