.badge {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 3px 5px;
    margin: 0 2px;
    min-width: 20px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;

}

.label {
    display: inline-block;
    font-weight: 400;
    color: white;
    padding: 3px 5px;
    margin: 0 2px;
    min-width: 20px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}
.bg-blue {
    background-color: $color-primary !important;
    color: #fff;
}
.bg-orange {
    background-color: #ffb02b !important;
    color: #fff;
}
.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}

.list-group{
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 0;
    list-style-type: none;
    color: #717171;

    .list-group-item{
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;

        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .list-group-item > .badge {
            float: right;
        }
    }
}