/**
 * 1.0 loading views
 * ----------------------------------------------------------------------------
 */
.loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    z-index: 9999;

    &.fill{
       background: rgba(255, 255, 255, 1);
       .loading-icon{
            font-size: 25px;
       }
    }
    
    &-icon {
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 15px;
        color: $color-primary;
    }
}