.dashboard{
	&-main{
		position: relative;
        width: calc(100% - 260px);
		margin-left: 260px;
		padding: 120px 40px 60px;

		@media only screen and (max-width: 991px) {
			width: 100%;
			margin-left: 0px;
			padding: 40px;
		}	
	}
}