/**
 * 1.0 navbar settings
 * ----------------------------------------------------------------------------
 */
.fixed-bottom, .fixed-top{
    position: fixed!important;
    right: 0;
    left: 0;
    z-index: 1030;
    @media only screen and (max-width: 991px) {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}
.fixed-top {
    top: 0;
}
.navbar{
    background: #FFF;

    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;

    @media only screen and (max-width: 991px) {
        position: relative!important;
    }

    &-expand-md {
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    &-expand-md, 
    &-expand-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
    }

    &-shadow {
        -webkit-box-shadow: 0 2px 30px 2px rgba(0,0,0,.1);
        box-shadow: 0 2px 30px 2px rgba(0,0,0,.1);
    }

    &-wrapper {
        width: 100%;
    }

    &-header{
        position: relative;
        padding: 0 .85rem;
        float: left;
        width: 260px;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        background: #2C303B;
        
        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        -moz-transition: .3s ease all;
        transition: .3s ease all;
    }

    &-brand{
        img{
            width: 150px;
            height: auto;
        }
    }

    &--title{
        float: left;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin: 0;
        margin-top: 23px;
        i{
            background-color: #2C303B;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            font-size: 17px;
            color: $color-primary;

            position: relative;
            border-top: 1px solid #34364a;
            border-bottom: 1px solid #2c2d3e;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;

            border-top-color: #506274;
            border-bottom-color: #415160;
        }
        span{
            position: relative;
            margin-left: 10px;
            font-family: 'gotham_mediumregular';
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            text-transform: uppercase;
            color: #343434;
        }
    }

    &-container {
        position: relative;
        float: left;
        padding: 0 20px;
        height: 5rem;
        width: calc(100% - 260px);

        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        -moz-transition: .3s ease all;
        transition: .3s ease all;
        background: inherit;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        min-height: -webkit-calc(100% - 32px);
        min-height: -moz-calc(100% - 32px);
        min-height: calc(100% - 32px);
    }

    &-nav{
        margin-top: 19px;
        float: right;

        .dropdown{
            float: left;
        }

        img{
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
        }
        .user{
            padding-left: 15px;
            display: inline-block;
            vertical-align: middle;       
            h2{
                margin: 0;
                font-family: 'gotham_mediumregular';
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.1px;
                text-align: left;
                color: #343434;
            }
            h6{
                margin: 5px 0 0;
                font-family: 'gotham_lightregular';
                font-size: 11px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.1px;
                text-align: left;
                color: #343434;
            }
        }
    }

    &--clock{
        float: left;
        margin-right: 20px;
        margin-top: 3px;
        background-color: rgba(0,0,0,.1);
        box-shadow: 0 1px 5px rgba(0,0,0,.1);
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        i{
            font-size: 16px;
            color: #343434;
            margin-right: 10px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            font-family: 'gotham_mediumregular';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.1px;
            text-align: left;
            color: #343434;
            padding: 0 3px;
        }
    }
}