/**
 * 1.0 Sidebar settings
 * ----------------------------------------------------------------------------
 */
.dashboard{
	&--sidebar{
		position: fixed;
	    top: 5rem;
	    height: -webkit-calc(100% - 5rem);
	    height: -moz-calc(100% - 5rem);
	    height: calc(100% - 5rem);

	    width: 260px;
	    color: #DCDCDC;
    	background: #2C303B;
    	z-index: 1000;
	    display: table-cell;

	    -webkit-box-shadow: 1px 0 30px rgba(0,0,0,.1);
    	box-shadow: 1px 0 30px rgba(0,0,0,.1);

    	transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	    transform: translate3d(0, 0, 0);
	    backface-visibility: hidden;
	    @media only screen and (max-width: 991px) {
	    	position: relative;
	    	top: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}

.navigation{
	list-style-type: none;
	padding: 0;
	margin: 0;

	&--item{
		-webkit-transition: background-color .3s, color .3s;
			-moz-transition: background-color .3s, color .3s;
				-ms-transition: background-color .3s, color .3s;
					-o-transition: background-color .3s, color .3s;
						transition: background-color .3s, color .3s;
		&.active, &:hover{
			background-color: rgba(0,0,0,0.2);
			a{
				i{
					color: $color-secondary;
				}
			}
		}
	}

	&--link{
	    position: relative;
	    font-family: 'gotham_book';
	    font-size: 12px;
	    font-weight: 400;
	    text-align: left;
	    text-transform: uppercase;
	    color: #FFF;

	    display: block;
		padding: .85rem 1rem;
    	border-radius: 2px;
	    i{
			position: relative;    
		    display: inline-block;
		    vertical-align: middle;
			margin-right: 10px;
		    font-size: 30px;
			width: 35px;
			text-align: center;
			color: $color-primary;
	    }
	}
}