.banner{
	&--area{
		float: left;
		width: 100%;
		padding: 20px;
		background-color: $white;
		border-bottom: 0.5px solid $border-color;
		&-loop{
			position: relative;
			width: 100%;
			z-index: 1;
			.mask{
				position: absolute;
				z-index: 2;
				top: 0; left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.21);
			}
			.figure{
				position: relative;
				z-index: 1;
				height: 704px;
				width: 100%;
				overflow: hidden;
				&-img{
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: 50% 50%; /* default value: image is centered */
				}
			}
			.content{
				position: absolute;
				top: 53%;
				right: 40px;
			    z-index: 3;
			    width: 471px;
			    @include transform(translateY(-50%));

				&--title{
					position: relative;
					font-family: 'gotham_mediumregular';
				    font-size: 48px;
				    font-weight: 500;
				    line-height: 1.1;
				    text-align: left;
				    color: $white;
				    margin: 0 0 40px;
					&:before{
						content: '';
						position: absolute;
						top: -60px; left: 0;
						z-index: 3;
						background-image: url('../images/group-5-copy.svg');
						background-repeat: no-repeat;
						@include background-size(contain);
						width: 28px;
						height: 46px;				
					}
				}

				&--paragraph{
					position: relative;
					z-index: 4;
					width: 100%;
					background-color: $white;
					padding: 46px 40px;
					.arrow-up{
						position: absolute;
						top: -20px;
						left: 50%;
						@include transform(translateX(-50%));
					}
					&-summary{
						font-family: 'gotham_book';
						font-size: 18px;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: 0.1px;
						line-height: 1.8;
						text-align: left;
						color: $quaternary-color; 
					}
					&-button{
						position: absolute;
						z-index: 5;
						bottom: 0; right: 0;
						border: 0;
						background-image: url('../images/icons/arrow1.svg');
						background-repeat: no-repeat;
						width: 60px;
						height: 25px;
						text-indent: -999999px;
					}
				}
			}

			.category{
				position: absolute;
				left: 0; bottom: 0;
				z-index: 3;
				background-color: $black;
				padding: 5px 10px;
				label{
					font-family: 'gotham_boldregular';
					font-size: 11px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.09;
					letter-spacing: 0.1px;
					text-align: left;
					color: $tertiary-color;
					text-transform: uppercase;
				}
			}
		}
	}
}