.form{

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="date"],
	input[type="number"],
	input[type="password"],
	textarea{
		margin-bottom: 30px;
		outline: none;
		border: 0;
		border-radius: 0;
		background-color: transparent;
		border-bottom: 1px solid #979797;
		width: 100%;
		padding: 15px 0 5px;
		font-family: 'gotham_book';
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: 0.1px;
		text-align: left;
		color: #000000;
		@include placeholder($white, 12px);
	}

	input[type="submit"]{		
		width: 100%; 
		height: 47px;
		line-height: 47px;
		float: right;
		outline: none;
		background-color: $white;
		border: 1px solid $white;
		border-radius: 0;
		width: 100%;
		padding: 0 20px;

		font-family: 'gotham_mediumregular';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: $primary-color;
		text-transform: uppercase;


		@include transition(all 0.5s linear);
		&:hover{
			background-color: transparent;
			color: $white;
		}
	}

	textarea{
		height: 110px;
	}

	.floating-label {
		font-family: 'gotham_book';
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: 0.1px;
		text-align: left;
		color: #000000;
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 10px;
		opacity: 1;
		@include transition(0.2s ease all);
	}

	.inputText.focused .floating-label {
	    top: 0;
		font-size: 10px;
		opacity: 0.5;
	}

}

.wpcf7{
	span.wpcf7-not-valid-tip{
		display: none;
	}
	div.wpcf7-response-output{
		position: fixed;
	    left: 50%;
	    top: 50%;
	    width: 420px;
	    max-width: 100%;
	    margin-left: -210px;
	    z-index: 9999;
	    margin: 0;
	    padding: 30px;
		background-color: rgba(0,0,0,0.8);

		font-family: 'gotham_book';
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: 1px;
		text-align: center;
	    color: #fff;

		@include transform(translate(-50%, 50%));
	}	
	div.wpcf7-validation-errors{
		border: none;
	}

	.ajax-loader{
		text-align: center;
	    z-index: 100;
	    position: fixed!important;
	    left: 0;
	    top: 0;
	    width: 100%!important;
    	height: 100%!important;
	    padding: 0px!important;
	    margin: 0!important;
	    background: #000;
	    opacity: .8;
	    color: #fff;
	    background-repeat: no-repeat;
    	background-position: center;
    	background-image: url('../images/menuto-loading-01.gif')!important;
	    border-radius: 0;
		img{
			margin: 0 auto;
		}
	}
}