.instagram{
	&--area{
		width: 100%;
		float: left;
		padding: 100px 20px 24px;

		&-title{
			position: relative;
			width: auto;
			.tile{
				position: relative;
				z-index: 2;
				background-color: $white;
				padding: 10px 0;	
				width: 260px;
    			margin: 0 auto;

				font-family: 'gotham_boldregular';
				font-size: 30px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.17;
				letter-spacing: normal;
				text-align: center;
				color: $quaternary-color;			
			}
			&:before{
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				top: 50%;
				background-color: rgba(206, 206, 206, 0.5);
				width: 100%;
				height: 1px;
			}
		}

		&-text{
			font-family: 'gotham_book';
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: center;
			color: $quaternary-color;
		}

		.highlight{
			background: transparent;
			color: $orange;
		}

		&-loop{
			width: 100%;
			float: left;
			padding-top: 85px;

			ul{
				list-style-type: none;
				margin-top: 0;
				margin-bottom: 0;
				padding: 0;
				position: relative;

				li{
					position: relative;
					display:inline-block;
					vertical-align:top;
					float: left;
    				padding-left: 20px;
    				padding-right: 20px;
    				margin-bottom: 40px;
    				.overlay{
    					position: relative;
						width: 100%;
						height: 100%;
						overflow: hidden;
						img{
							position: relative;
							z-index: 1;
							vertical-align:top;
							height: 100%;
							width: 100%;
							object-fit: cover;
							object-position: 50% 50%;
						}
	    				a{
	    					position: absolute;
	    					top: 0; left: 0;
	    					z-index: 2;
	    					height: 100%;
	    					width: 100%;
	    					background-color: rgba(0, 0, 0, 0.5);
	    					@include opacity(0);
							@include transition(all 350ms linear);
	    					i{
	    						position: absolute;
	    						top: 0; right: 0; bottom: 0; left: 0;
	    						z-index: 3;
	    						width: 30px;
								height: 30px;
	    						margin: auto;
	    						color: $white;
	    						font-size: 25px;
	    						text-align: center;
	    					}
	    				}
    				}
					&.media-0{
						width: 25%;
						height: 302px;					
					}
					&.media-1{
						width: 50%;
						height: 302px;
					}
					&.media-2{
						width: 25%;
  						height: 643px;
					}
					&.media-3{
						width: 50%;
  						height: 646px;
  						margin-top: -343px;
					}
					&.media-4{
						width: 25%;
						height: 302px;
						margin-top: -343px;
					}
					&.media-5{
						width: 25%;
						height: 302px;
					}
					&.media-6{
						width: 25%;
						height: 302px;
					}

					&:hover{
						.overlay{
							a{
								@include opacity(1);
							}
						}
					}
				}
			}
		}

	}
}