/* Popup Box */

/* The Modal (background) */
.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: -1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &.fade{
        opacity: 1;
        z-index: 99999999; /* Sit on top */
    }

    &-content {
        width: auto;
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0);
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        &.in{
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
            opacity: 1;
        }

        .wrapper{
            background-color: #ffffff;
            margin: 0 auto; /* 15% from the top and centered */
            padding: 40px 60px;
            width: 471px;
            float: left;
            position: absolute;
            top: 5rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);

            max-width: 100%;
            text-align: center;   

            @media only screen and (max-width: 991px) {
                width: 100%;
                margin: 0;
                position: absolute;
                top: 0;
                padding: 30px 20px;
                height: 100vh;
                background-color: #ffffff;
            }      
        }

        .quiz{

            &-start{
                background-color: #ffffff;
                margin: 0 auto; /* 15% from the top and centered */
                padding: 40px 60px;
                width: 471px;

                max-width: 100%;
                text-align: center;

                @media only screen and (max-width: 640px) {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    max-width: 100%;
                    padding: 30px 20px;
                    height: 100vh;
                }
            }       

            &-questions{
                display: none;
                margin: 40px auto 0;
                padding: 0;
                width: 1156px;
                max-width: 100%;
                @media only screen and (max-width: 991px) {
                    width: 100%;
                    margin: 0;
                    position: absolute;
                    top: 0;
                    padding: 0;
                    height: 100vh;
                    background-color: #ffffff;
                }
                @media only screen and (max-width: 640px) {
                    padding: 30px 20px;
                    overflow-y: auto;
                }
            }

            &-results{
                display: none;
                background-color: #ffffff;
                margin: 0 auto; /* 15% from the top and centered */
                padding: 40px 60px;
                width: 979px;
                max-width: 100%;
                padding: 40px 80px;

                @media only screen and (max-width: 991px) {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    max-width: 100%;
                    padding: 30px;
                    height: 100vh;
                }
                @media only screen and (max-width: 640px) {
                    padding: 30px 20px;
                    overflow-y: auto;
                }

                .modal-body{
                    .gruporesult{
                        display: none;
                    }
                    figure{
                        img{
                            width: 302px;
                            height: 172px;
                            object-fit: contain;
                            @media only screen and (max-width: 991px) {
                                width: 230px;
                                height: 130px;
                            }
                            @media only screen and (max-width: 640px) {
                                width: 100%;
                                height: 90px;
                                object-fit: cover;
                            }
                        }
                    }
                    p.text{
                        line-height: 2;
                        @media only screen and (max-width: 991px) {
                            font-size: 15px;
                        }
                        @media only screen and (max-width: 640px) {
                            font-size: 14px;
                            line-height: 1.71;
                        }
                    }
                    .btn-cta{
                        width: auto;
                    }
                }
            }

        }
        
    }

    &-header{

    }

    &-title{
        position: relative;
        font-family: 'gotham_mediumregular';
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: center;
        color: #343434;
        margin-top: 50px;
        margin-bottom: 60px;
        &:before{
            content: '';
            position: absolute;
            top: -50px; left: 50%;
            z-index: 3;
            background-image: url('../images/logo/symbol.svg'); 
            background-repeat: no-repeat;
            background-size: contain;
            width: 28px;
            height: 46px;
            @include transform(translateX(-50%));
            @media only screen and (max-width: 640px) {
                top: -35px;
                width: 17px;
                height: 28px;
            }
        }

        @media only screen and (max-width: 991px) {
            margin-bottom: 30px;
        }

        @media only screen and (max-width: 640px) {
            margin-top: 35px;
            margin-bottom: 30px;
            font-size: 18px;
        }
    }

    &-body{
        position: relative;
        text-align: center;

        .link{
            font-family: 'gotham_mediumregular';
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 47px;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;

            float: left;
            width: 100%;
            height: 47px;
            margin-bottom: 20px;

            @include transition(all 0.5s linear);

            @media only screen and (max-width: 640px) {
                font-size: 14px;
            }

            &.facebook{
                border: 1px solid #0042b2;
                background-color: #0042b2;
                &:hover{
                    background-color: transparent;
                    color: #0042b2;
                }
            }
            &.google{
                border: 1px solid #a80000;
                background-color: #a80000;
                &:hover{
                    background-color: transparent;
                    color: #a80000;
                }
            }
            &.email{
                border: 1px solid #000000;
                background-color: #000000;
                &:hover{
                    background-color: transparent;
                    color: #000000;
                }
            }
        }

        #form-lostpassword{
            @media only screen and (max-width: 640px) {
                margin: 60px 0 0;
            }
        }

        .or{
            font-family: 'gotham_mediumregular';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #343434;
            margin-bottom: 20px;
            width: 100%;
            float: left;
        }

        h2{
            font-family: 'gotham_mediumregular';
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: center;
            color: #343434;
            @media only screen and (max-width: 640px) {
                margin: 15px 0;
                font-size: 20px;
                line-height: 1.5;
            }
        }

        p.text{
            font-family: 'gotham_book';
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #4e4e4e;
            @media only screen and (max-width: 640px) {
                font-size: 14px;
            }
        }

        figure{
            img{
                max-width: 100%;
            }
        }

        .btn-cta{
            width: 100%; 
            height: 47px;
            line-height: 47px;
            display: inline-block;
            outline: none;
            background-color: $black;
            border: 1px solid $black;
            border-radius: 0;
            padding: 0 30px;
            margin-top: 15px;

            font-family: 'gotham_mediumregular';
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            text-transform: uppercase;

            @include transition(all 0.5s linear);
            &:hover{
                background-color: transparent;
                color: $black;
            }
            @media only screen and (max-width: 640px) {
                margin-top: 20px;
                width: 100%;
                height: auto;
                line-height: 1.4;
                padding: 15px;
            }
        }

        form{
            
        }

        .status, .statususer{
            display: none;
            font-family: 'gotham_book';
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: center;
            color: #4e4e4e;
            padding: 20px 0;
            width: 100%;
            float: left;
            @media only screen and (max-width: 640px) {
                font-size: 14px;
                line-height: 1;
                padding: 15px 0;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"]{
            outline: none;
            border: 0;
            border-radius: 0;
            padding: 5px 0;
            background-color: transparent;
            border-bottom: 1px solid #979797;
            width: 100%;
            font-family: 'gotham_book';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.1px;
            text-align: left;
            color: #000000;

            &.valid{
                border-bottom: 1px solid #ffb02b;
            }
            &.error{
                color: #df0000;
                border-bottom: 1px solid #df0000;
            }
        }

        input[type="submit"]{
            width: 100%; 
            height: 47px;
            line-height: 47px;
            float: right;
            outline: none;
            background-color: $black;
            border: 1px solid $black;
            border-radius: 0;
            width: 100%;
            padding: 0 20px;
            margin-top: 15px;

            font-family: 'gotham_mediumregular';
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            text-transform: uppercase;

            @include transition(all 0.5s linear);
            &:hover{
                background-color: transparent;
                color: $black;
            }
        }

        .form-group {
            position: relative;
            margin-bottom: 2rem;
            text-align: left;

            em{
                position: absolute;
                bottom: -15px;
                left: 0;
                width: 50%;

                font-family: 'gotham_book';
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: 0.1px;
                text-align: left;
                color: #979797;
            }            

            .msg{
                position: absolute;
                bottom: -15px;
                right: 0;
                width: 50%;

                font-family: 'gotham_book';
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: 0.1px;
                text-align: right;

                &.error{
                    color: #df0000;                    
                }
            }
        }

        .toggle-password{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;

            background-image: url('../images/icons/view-show.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            height: 12px;
            @include transition(all 0.5s linear);

            &.show{
                background-image: url('../images/icons/view-hide.svg');
            }
        }


        .form-control-placeholder {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            pointer-events: none;
            transition: all 200ms;

            font-family: 'gotham_book';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.1px;
            text-align: left;
            color: #000000;

            &.error{
                color: #df0000;                
            }

        }

        .form-control:focus + .form-control-placeholder,
        .form-control:valid + .form-control-placeholder {
            font-size: 75%;
            opacity: 0.5;
            transform: translate3d(0, -100%, 0);
        }

        .radio-group{

            input{
                margin:0;
                padding:0;
                display: none;           
            }
        
            .gender{
                cursor:pointer;
                background-size:contain;
                background-repeat:no-repeat;
                display:inline-block;
                width: 28px;
                height: 60px;
                margin: 0px 25px 0;
                -webkit-transition: all 100ms ease-in-out;
                   -moz-transition: all 100ms ease-in-out;
                        transition: all 100ms ease-in-out;

                &.masculino{
                    background-image:url('../images/icons/male-black.svg');
                    &:hover{
                        background-image:url('../images/icons/male-yellow.svg');
                    }
                }
                &.feminino{ 
                    background-image:url('../images/icons/female-black.svg');
                    &:hover{ 
                        background-image:url('../images/icons/female-yellow.svg');
                    }
                }
            }

            .notanswer{
                font-family: 'gotham_mediumregular';
                font-size: 11px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.09;
                letter-spacing: 0.1px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;

                width: 100%;
                height: auto;
                margin: 30px 0 30px;
                -webkit-transition: all 100ms ease-in-out;
                   -moz-transition: all 100ms ease-in-out;
                        transition: all 100ms ease-in-out;

                &:hover{ 
                    color: #ffb02b;
                }
            }    
            
            input:checked + .gender.masculino{
                background-image:url('../images/icons/male-yellow.svg');      
            }
            input:checked + .gender.feminino{
                background-image:url('../images/icons/female-yellow.svg');
            }

            input:active + .gender.masculino{
                background-image:url('../images/icons/male-yellow.svg');
            }
            input:active + .gender.feminino{
                background-image:url('../images/icons/female-yellow.svg');
            }

            input:active + .notanswer{
                color: #ffb02b; 
            }
            input:checked + .notanswer{
                color: #ffb02b;
            }

        }
        
        .group-gender{
            display: none;
        }

        p{
            float: left;
            width: 100%;
            font-family: 'gotham_mediumregular';
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.09;
            letter-spacing: 0.1px;
            text-align: center;
            color: #343434;
            margin: 0 0 20px;
        }

        p.register{
            margin-top: 40px;
        }

        a{
            color: #ffb02b;
        }

        .ajax{
            &-login{}
            &-response{
                display: none;
                width: 100%;
                float: left;
                padding: 40px;
            }
        }

        .wizard{
            position: relative;
            text-align: center;
            width: 100%; 
            height: 100%;

            &-header{
                .index-step{
                    font-family: 'gotham_mediumregular';
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.29;
                    letter-spacing: normal;
                    text-align: right;
                    color: #979797;
                    float: right;
                    margin-top: -69px;
                    @media only screen and (max-width: 991px) {
                        width: 100%;
                        text-align: center;
                        margin-top: 0px;
                        margin-bottom: 20px;
                    }
                }
            }

            &-title{
                position: relative;
                font-family: 'gotham_mediumregular';
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: center;
                color: #343434;
                margin-top: 50px;
                margin-bottom: 40px;
                @media only screen and (max-width: 991px) {
                    margin-bottom: 20px;
                }
                @media only screen and (max-width: 640px) {
                    margin-top: 0px;
                    margin-bottom: 10px;
                    text-align: left;
                    padding-left: 35px;
                    font-size: 18px;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: -50px; left: 50%;
                    z-index: 3;
                    background-image: url('../images/logo/symbol.svg'); 
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 28px;
                    height: 46px;
                    @include transform(translateX(-50%));
                    @media only screen and (max-width: 640px) {
                        width: 17px;
                        height: 28px;
                        left: 0;
                        top: 0;
                        @include transform(translateX(0));
                    }
                }
            }

            &-step{
                position: absolute;
                top: 0;
                left: 0;

                visibility: hidden;
                opacity: 0;
                transform: scale(.8);

                background: white;
                padding: 40px 60px;

                transition: all .2s ease-in-out;

                @media only screen and (max-width: 991px) {
                    padding: 40px 30px;
                }
                @media only screen and (max-width: 640px) {
                    padding: 0px;
                }

                /*Hide all except first article*/
                &:not(:first-of-type) {
                    
                }
                &.active{
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }
                @media only screen and (max-width: 991px) {
                    .row{
                        margin-left: -10px;
                        margin-right: -10px;
                    }
                    .col-3{
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                @media only screen and (max-width: 640px) {
                    .col-3{
                        width: 100%;
                        &:not(:first-of-type) {                                        
                            .question{
                                border-top: 1px solid #d6d2c9;                                
                            }
                            figure{
                                display: none;
                            }
                            .radio {
                                label {
                                    img{
                                        display: none;
                                    }
                                }
                            }                           
                        }
                    }
                }
                .question{
                    text-align: left;
                    margin-bottom: 30px;
                    @media only screen and (max-width: 640px) {
                        margin-bottom: 0;
                        padding: 10px 0;
                    }
                    
                    figure{
                        display: none;
                        img{
                            width: 100%;
                            height: 120px;
                            object-fit: cover;
                            margin-bottom: 20px;
                        }
                        @media only screen and (max-width: 640px) {
                            display: block;
                            img{
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .radio {
                        input[type="radio"] {
                            display: none;
                        }

                        label {
                            position: relative;
                            display: inline-block;
                            cursor: pointer;
                            transition: all .2s ease-in-out;

                            img{
                                display: block;
                                width: 100%;
                                height: 172px;
                                object-fit: cover;
                                margin-bottom: 20px;

                                transition: all .2s ease-in-out;
                                @media only screen and (max-width: 991px) {
                                    margin-bottom: 10px;
                                    height: 120px;
                                }
                                @media only screen and (max-width: 640px) {
                                    display: none;
                                }
                            }

                            span{
                                position: relative;
                                display: block;
                                padding-left: 20px;

                                font-family: 'gotham_book';
                                font-size: 16px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.5;
                                letter-spacing: normal;
                                text-align: left;
                                color: #343434;

                                transition: all .2s ease-in-out;                                
                                @media only screen and (max-width: 991px) {
                                    font-size: 14px;
                                    line-height: 1.4;
                                }

                                &:before{
                                    content: '';
                                    position: absolute;
                                    top: 7px;
                                    left: 0;
                                    background-image: url('../images/icons/rdial_off.svg');
                                    background-position: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 9px;
                                    height: 9px;
                                }
                            }                            

                            &:hover{
                                span{
                                    color: #ffb02b;
                                    &:before{
                                        background-image: url('../images/icons/radial_on.svg');
                                    }
                                }
                            }
                        }

                        input[type="radio"]:checked + label span {
                            color: #ffb02b;
                        }
                        input[type="radio"]:checked + label span:before {
                            background-image: url('../images/icons/radial_on.svg');
                        }
                    }
                }
            }
        }

    }

    &-close{
        background-color: transparent;
        background-image: url('../images/icons/btn-close-modal.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 73px;
        height: 18px;
        border: 0;
        outline: none;
        display: inline-block;
    }

    &-skip{
        font-family: 'gotham_mediumregular';
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.09;
        letter-spacing: 0.1px;
        text-align: center;
        text-transform: uppercase;
        color: #979797;
    }

    &-footer{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 2rem;
        @media only screen and (max-width: 640px) {
            position: absolute;
            bottom: 30px;
            left: 5px;
        }
    }

}