
.post{
	width: 100%;

	.mask{
		position: absolute;
		z-index: 2;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.21);
	}

	.row{
		.col{
			padding-top: 20px;		
		}
		&:first-child{
			.col{
				padding-top: 0;
				padding-bottom: 20px;	
			}
		}
	}
	&--card{
		position: relative;
		&-link{
			&:hover{
				figure{
					img{
						@include transform(scale(1.1));
					}
				}
			}
		}

		&-figure{
			position: relative;
			width: 100%;
			height: 259px;
			overflow: hidden;
		}

		&-image{
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			@include transform(scale(1));
			@include transition(transform 650ms ease-in-out);
		}

		&-category{
			position: absolute;
			left: 0; bottom: 0;
			z-index: 4;
			background-color: $black;
			padding: 10px;
			font-family: 'gotham_boldregular';
			font-size: 11px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.09;
			letter-spacing: 0.1px;
			text-align: left;
			color: $orange;
			text-transform: uppercase;
		}

		&-content{
			font-family: 'gotham_book';
			font-size: 18px;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: 0.1px;
			line-height: 1.8;
			text-align: left;
			color: $quaternary-color;
		}

		&-title{
			font-family: 'gotham_mediumregular';
			font-size: 20px;
			font-weight: 500;
			line-height: 1.5;
			text-align: left;
			color: $quaternary-color;
			margin: 25px 0 20px;
		}

		&-text{
			font-family: 'gotham_book';
			font-size: 18px;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: 0.1px;
			line-height: 1.8;
			text-align: left;
			color: $quaternary-color;
		}
	}
}

.featured{

	.mask{
		position: absolute;
		z-index: 2;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.21);
	}
	
	&--card{
		position: relative;
		z-index: 1;
		height: 689px;
		width: 100%;
		&-link{
			&:hover{
				figure{
					img{
						@include transform(scale(1.1));
					}
				}
			}
		}

		&-figure{
			position: relative;
			z-index: 2;
			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		&-image{
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			@include transform(scale(1));
			@include transition(transform 650ms ease-in-out);
		}

		&-content{
			position: absolute;
			bottom: 60px; left: 0; right: 0;
			z-index: 3;
			padding: 0 40px;
			.entry-content{
				position: relative;
				width: 100%;
				background-color: $white;	
				padding: 25px 30px;		
				.arrow-up{
					position: absolute;
					top: -20px;
					left: 50%;
					@include transform(translateX(-50%));
				}	
				&:before{
					content: '';
					position: absolute;
					top: -27px; left: 30px;
					z-index: 4;
					background-image: url('../images/group-5-copy.svg');
					background-repeat: no-repeat;
					width: 28px;
					height: 46px;			
				}
			}
		}

		&-title{
			font-family: 'gotham_mediumregular';
			font-size: 30px;
			font-weight: 500;
			line-height: 1.17;
			text-align: left;
			color: $quaternary-color;
		}

		&-text{
			font-family: 'gotham_book';
			font-size: 18px;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: 0.1px;
			line-height: 1.8;
			text-align: left;
			color: $quaternary-color;
		}

		&-category{
			position: absolute;
			left: 0; bottom: 0;
			z-index: 4;
			background-color: $black;
			padding: 10px;
			font-family: 'gotham_boldregular';
			font-size: 11px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.09;
			letter-spacing: 0.1px;
			text-align: left;
			color: $orange;
			text-transform: uppercase;
		}
	}
}