.product{
	padding: 0 25px;
    position: relative;
    height: auto;	
	
	&--figure{
		position: relative;
		z-index: 1;
		width: 100%;
		height: 384px;
		overflow: hidden;
		padding: 40px;
		background-color: #f9f9f9;

		&:before{
			content: '';
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 2;

			width: 16px;
  			height: 25.7px;
			background-image: url('../images/simbolo.png');
			background-repeat: no-repeat;
			background-position: center;
			@include background-size(contain);
		}

		img{
	    	height: 100%;
			width: 100%;
			object-fit: contain;
			object-position: 50% 50%;
			@include transform(scale(1));
			@include transition(transform 650ms ease-in-out);

	    	&.image-effect{
	    		top: 0;
			    position: absolute;
			    overflow: hidden;
			    left: 0;
			    opacity: 1;
			    filter: alpha(opacity=100);
			    @include transform(translate(-100%, 0px));
			    @include transition(all 0.3s);
	    	}
	    	&.image-hover {
			    -webkit-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s;
			}
	    }

	    &:hover{
	    	img{
				&.image-effect {
			    	@include transform(translate(0px, 0px));
				}
				&.image-hover {
			    	@include transform(translate(100%, 0px));
				}
			}
			.product--button{
				@include transform(translate(-50%, -50px));
			}
		}

	}

	&--sku{
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 9;
		background-color: #ffffff;
		padding: 5px 20px;

		font-family: 'gotham_mediumregular';
		font-size: 11px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.09;
		letter-spacing: 0.1px;
		text-align: left;
		color: #999999;
	}

	&--title{
		font-family: 'gotham_mediumregular';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: $quaternary-color;
		margin: 15px 0 0;
	}

	&--button{
		position: absolute;
		top: 50%; left: 50%;
		max-width: 182px;
		width: 100%;
  		height: 47px;
		float: left;
		background-color: $secundary-color;
		font-family: 'gotham_lightregular';
		font-size: 14px;
		text-align: left;
		color: $primary-color;
		text-transform: uppercase;
		line-height: 47px;
		padding: 0 20px;
		border: 0;
		outline: none;
		background-image: url('../images/icons/arrow3.svg');
		background-repeat: no-repeat;
		background-position: 90% center;		

		@include transform(translate(-50%, 500%));
		@include transition(all 0.3s);

		&.mobile{
			display: none;
		}
	}

}


.single-product{
	margin-left: -45px;
    margin-right: -45px;
	.col{
		padding-left: 45px;
    	padding-right: 45px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.col-3{
		.product{
			padding: 0;
			&--figure{
				padding: 20px;
				height: 250px;
			}
		}
	}
}