.search{
	&--title{
		position: relative;
		font-family: 'gotham_lightregular';
		font-size: 22px;
		line-height: 1.5;
		text-align: center;
		color: $secundary-color;
		margin-bottom: 80px;
		text-transform: uppercase;
		span{
			font-family: 'gotham_mediumregular';
			font-size: 22px;
			font-weight: 500;
			color: $tertiary-color;
		}
	}
	&--text{
		font-family: 'gotham_book';
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 32px;
		letter-spacing: normal;
		text-align: center;
		color: #343434;
		margin: 0 0 40px;
	}
}

.search{
	float: left;
	width: 100%;
	padding: 0;
	.posts{
		&--area{
			background-color: $color-light;
			padding: 140px 0 70px;
		}
		.listing{
			.row{
				margin-left: -62.5px;
				margin-right: -62.5px;
			}
			.col {
			    padding-left: 62.5px;
			    padding-right: 62.5px;
			    padding-bottom: 40px;
			}			
		}
	}

}

body.search{
	.form-default{
		.inputText{
			input[type=text] {
			    border-bottom: 1px solid $orange;
			}
			.floating-label{
				display: none;
			}
		}
	}
}

.searchwp-live-search-results .searchwp-live-search-result p {
    position: relative;
    font-family: 'gotham_mediumregular';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
    color: #000;
    text-transform: none;
}
.searchwp-live-search-result a{
	position: relative;
    font-family: 'gotham_mediumregular';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
    color: #000;
    margin-top: 0;
}

.searchwp-live-search-no-min-chars:after{
	content: "Buscando..." !important;
}