/* =General CSS
-------------------------------------------------------------- */
.wc_row{

}

.full-width,
.one-half,
.one-third,
.two-third,
.one-fourth,
.three-fourth,
.one-fifth,
.two-fifth,
.three-fifth,
.four-fifth,
.one-sixth,
.five-sixth {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.clear_column {
	clear:both;
	display:block;
	font-size:0; height:0;
	line-height:0; width:100%;
	overflow: hidden;
}

/* =Shortcodes Templates
-------------------------------------------------------------- */

/* =Default Template (no margin)
-------------------------------------------------------------- */
.full-width  {
	width: 100%;
}
.one-half  {
	width: 50%;
}
.one-third  {
	width: 33.3%;
}
.two-third  {
	width: 66.6%;
}
.one-fourth  {
	width: 25%;
}
.three-fourth  {
	width: 75%;
}
.one-fifth  {
	width: 20%;
}
.two-fifth  {
	width: 40%;
}
.three-fifth  {
	width: 60%;
}
.four-fifth  {
	width: 80%;
}
.one-sixth  {
	width: 16.6%;
}
.five-sixth  {
	width: 83.4%;
}

/* =Responsive
-------------------------------------------------------------- */
/* Maximum width of 600 pixels. */
@media screen and (max-width: 600px) {
	.full_width,
	.one_half,
	.one_third,
	.two_third,
	.one_fourth,
	.three_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {
		clear: both;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1em;
	}
}