/* -------------------------------- 

Aside

-------------------------------- */
.sidebar{
	position: relative;
	width: 342px;
	min-height: 1px;
	padding-top: 20px;
	padding-right: 0;
	padding-left: 20px;
	float: right;

	&.retract{
		width: 71px;
		padding: 0;
		.cd-read-more {
			.shares{
				height: auto;
				margin-bottom: 15px;
				&-count{
					width: 100%;
					border-right: 0;
					border-bottom: 1px solid #cecece;
					padding-bottom: 15px;
				}
				&-icons{
					a{
						padding-left: 0;
						margin: 10px 0;
						width: 35px;
						float: left;
						text-align: left;
						background-position: left center;
						&:nth-child(2){
							background-position: right center;
						}
						&:last-of-type{
							background-position: right center;
						}
					}
				}
			}
			.indicator{
				>header{
					display: none;
				}
				ul{
					li{						
						a{
							padding-left: 0em;
							&::before{
								//left: 1em;
							}
							svg{
								//left: 0.7em;
							}
							em{
								display: none;
							}
						}
					}
				}
			}
			.newsletter{
				display: none;
			}
			.button{
				height: 52px;
				span{
					display: none;
				}
			}
		}
	}

	.cd-read-more {
		.shares{
			float: left;
			width: 100%;
			height: 37px;
			margin-bottom: 20px;
			background-color: $white;
			&-count{
				float: left;
				height: 100%;
				width: 118px;
				text-align: left;
				line-height: 37px;
				border-right: 1px solid #cecece;
				i{
					display: inline-block;
					vertical-align: middle;
					color: #010002;
					font-size: 18px;
				}
				.count{
					padding-left: 19px;
					display: inline-block;
					vertical-align: middle;
					font-family: 'gotham_mediumregular';
					font-size: 14px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: left;
					color: #010002;
				}
			}
			&-icons{
				float: right;
	    		text-align: right;
	    		line-height: 37px;
				a{
					display: inline-block;
    				vertical-align: middle;

					width: 21.2px;
					height: 16px;

					margin-left: 15px;

					background-repeat: no-repeat;
					background-position: center;
					@include background-size(contain);

					&:first-of-type{
						margin-left: 0;
					}
					&.facebook{
						height: 19px;
						background-image: url('../images/001-facebook-logo-black.svg');
					}
					&.twitter{
						background-image: url('../images/002-twitter-logo-silhouette-black.svg');
					}
					&.whatsapp{
						display: none;
						background-image: url('../images/whatsapp-logo.svg');
					}
					&.envelope{
						background-image: url('../images/mail-black-envelope-symbol.svg');
					}
				}
			}
		}
		.indicator{
			width: 100%;
			float: left;
			background-color: $secundary-color;
			> header{
				background-color: $secundary-color;
				width: 100%;
				line-height: 1;
				padding: 13px 20px;
				float: left;
				border-bottom: solid 2px #212121;
				h3{
					font-family: 'gotham_mediumregular';
					font-size: 20px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					letter-spacing: normal;
					text-align: center;
					text-transform: uppercase;
					color: $primary-color;
					margin: 0;
				}
			}
			ul{
				margin: 0;
    			padding: 10px 0;
				list-style-type: none;
				li {
					position: relative;
					float: left;
	    			width: 100%;
				 	counter-increment: articles;
				 	&:first-of-type {
				 		border-top: 0;
				 		a{				 			
							em{
								border-top: 0;
							}
				 		}
				 	}
				 	&:last-of-type {
				 		a{
				 			&::after {
						  		display: none;
							}
						}
					}
				 	a {
						display: table;
						position: relative;
						padding-left: 6em;
						width: 100%;
						height: 70px;
						
						&::before {
							content: counter(articles);
							/* article number */

							position: absolute;
							top: 50%; 
							bottom: auto;
							left: 1.25em;
							
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);

							width: 39px;
							height: 39px;
							line-height: 39px;

							border: solid 0.5px #212121;
							border-radius: 50%;
							background: #212121;

							font-family: 'gotham_mediumregular';
							font-size: 14px;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							letter-spacing: normal;
							text-align: center;
							color: #f5f5f5;

							-webkit-transition: background-color 0.3s, color 0.3s;
							-moz-transition: background-color 0.3s, color 0.3s;
							transition: background-color 0.3s, color 0.3s;
						}

						&::after {
							//content: '';
							position: absolute;
							top: 50%; 
							bottom: auto;
							left: 1.155em;
							
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);

							width: 35px;
							height: 35px;
							line-height: 35px;

							border: solid 1.5px $orange;
							border-radius: 50%;
						}

						em {
							display: table-cell;
    						vertical-align: middle;
							font-family: 'gotham_lightregular';
							font-size: 12px;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.25;
							letter-spacing: 0.1px;
							text-align: left;
							color: $white;
							padding-right: 20px;
							border-top: solid 1px #4e4e4e;
							/* truncate text with ellipsis */
							text-overflow: ellipsis;

							overflow: hidden;
							
							@include transition(color 0.3s);
							@include opacity(0.5);
						}

						svg {
							/* this is the filling circle around the article number */
							display: none;
							position: absolute;
							top: 50%;
							left: 1.1em;
							bottom: auto;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);

							stroke: $orange;
						}

						&.read{
							&::after {
								content: '';
							}
							em{
								@include opacity(1);
							}
							svg {
								display: block;
							}
						}

						&.reading{
							&::before {
								color: #f5f5f5;
							}
							em{
								@include opacity(1);
							}
							svg {
								display: block;
							}			
						}

					}
				}
			}
		}
		.newsletter{
			background-color: $secundary-color;
			float: left;
			width: 100%;
			padding: 20px 60px 5px;
			
			&--header{
				.header__title{
					font-family: 'gotham_mediumregular';
					font-size: 20px;
					font-weight: 500;
					line-height: 1.5;
					text-align: center;
					color: $primary-color;
					margin-top: 0;
					margin-bottom: 15px;
				}
				.header__text{
					font-family: 'arapeyregular';
					font-size: 18px;
					line-height: 1.39;
					text-align: center;
					color: $primary-color;
				}
			}

			&-form{
				.form{
					input[type="text"],
					input[type="email"]{
					}

					input[type="submit"]{
						&:hover{
							background-color: $white;
							color: $black;
						}
					}

					.inputText{
						position: relative;
						width: 100%;
					}

					.inputSubmit{
						position: relative;
						width: 100%;
					}

					.floating-label {
					}
				}
			}
		}
		.button{
			float: left;
			width: 100%;
			height: 52px;
	  		background-color: #212121;

	  		border: 0;
	  		outline: none;
	  		margin-top: 1px;
	  		padding: 0 34px 0 25px;

	  		span{
	  			float: left;
	  			font-family: 'gotham_mediumregular';
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: left;
				text-transform: uppercase;
				color: $tertiary-color;
			}

	  		.arrow{
	  			float: right;
	  			width: 6px;
    			height: 15px;
		  		background-repeat: no-repeat;
		  		background-position: center center;
		  		@include background-size(contain);
				@include transition(transform 0.2s ease-out);
		  		&.open{
		  			background-image: url('../images/icons/arrow.svg');	  	
					@include transition(transform 0.2s ease-in);		
		  		}
		  		&.close{
		  			background-image: url('../images/icons/arrow.svg');	 
					@include transition(transform 0.2s ease-in); 			
		  			@include transform(rotate(180deg));
		  		}	
	  		}

		}
	}
}

.progress {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	z-index: 999999999999;

	background-color: #FFFFFF;

	&-bar {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		float: left;

		width: 0px;
		height: 100%;		

		&.fill {
			display: block;
		  	background-color: rgba(255, 176, 43, 1);
		}

	}

}

@media only screen and (min-width: 1100px) {
	.cd-read-more {
		display: block;
		position: relative;
	}
	.cd-read-more.fixed {
		position: fixed;
		top: 4em;
		//right: calc(50% - 485px);
	}
	.cd-read-more.absolute{
		position: absolute;
	}
}